<section id="dr-banner">
  <div class="container-fluid">
    <div class="row section-1 clearfix">
      <div class="col-md-6 section-1a">
        <div class="flex-container-1a">
          <div class="head">
            <p><strong>Partnership Report 2019</strong></p>
            <h1><strong> Building Strong Partnerships</strong> for Shared Progress</h1>
            <br />
          </div>
          <div class="fb"></div>
          <div class="fb">
            <div class="content-text">
              <a href="https://www.youtube.com/watch?v=dB72AriglgY" data-lightbox="iframe" style="position: relative;">
                <img width="57" height="70" src="./images/play-outline.svg" alt="" /></a>
              <p>Play the President's message</p>
            </div>
          </div>
          <div class="fb"></div>
          <div class="fb"></div>
          <div class="fb"></div>
          <div class="fb">
            <a href="./stories/modernizing-power-trade-coordination-in-central-asia/">
              <div class="content-text">
                <p>Modernizing Power Trade Coordination in Central Asia</p>
              </div>
              <div class="tint"></div>
            </a>
          </div>
          
        </div>
        <!--/flex-container-1a-->
      </div>
      <!--/col-->

      <div class="col-md-6 section-1b" style="">
        <div class="flex-container-1b">
          <div class="fb">
            <a href="./stories/in-uncertain-times-ample-preparation-for-food-production/">
              <div class="content-text">
                <p>In Uncertain Times, Ample Preparation for Food Production</p>
              </div>
              <div class="tint"></div>
            </a>
          </div>
          <div class="fb"></div>
          <div class="fb">
            <a href="./stories/support-for-survivors-of-domestic-violence/">
              <div class="content-text">
                <p>Support for Survivors of Domestic Violence</p>
              </div>
              <div class="tint"></div>
            </a>
          </div>
          <div class="fb"></div>
          <div class="fb">
            <a href="https://www.youtube.com/watch?v=ok9H12WwT-Q" data-lightbox="iframe">
              <div class="content-text">
                <p>Access to Credit Empowers Sri Lankan Women</p>
              </div>
              <div class="tint"></div>
            </a>
          </div>
          <div class="fb">
            <a href="https://www.youtube.com/watch?v=ij18Aa_iXc4" data-lightbox="iframe">
              <div class="content-text">
                <p>Raising the Quality of Urban Service Delivery</p>
              </div>
              <div class="tint"></div>
            </a>
          </div>
          <div class="fb">
            <a href="./stories/rebuilding-the-road-to-the-border/">
              <div class="content-text">
                <p>Rebuilding the Road to the Border</p>
              </div>
              <div class="tint"></div>
            </a>
          </div>
          <div class="fb">
            <div class="content-text">
              <a href="./stories/"
                ><img
                  width="57"
                  height="70"
                  src="images/read-more-plus.svg"
                  alt=""
              /></a>
              <p>Read more stories</p>
            </div>
          </div>

          <div class="fb"></div>
          <div class="fb"></div>
          <div class="fb"></div>
          <div class="fb">
            <a href="./stories/critical-thoroughfare-gets-much-needed-makeover/">
              <div class="content-text">
                <p>Critical Thoroughfare Gets Much Needed Makeover</p>
              </div>
              <div class="tint"></div>
            </a>
          </div>
        </div>
        <!--/flex-container-1b-->
      </div>
      <!--/col-->
    </div>
    <!--/row section 1-->
  </div>
</section>
