<section id="dr-banner">
  <div class="container-fluid">
    <div class="row section-1 clearfix">
      <div class="col-md-6 section-1a">
        <div class="flex-container-1a">
          <div class="head">
            <p><strong>Partnership Report 2019</strong></p>
            <h1><strong> Building Strong Partnerships</strong> for Shared Progress</h1>
            <br />
          </div>
          <div class="fb" data-animate="fadeIn" data-delay="200"></div>
          <div class="fb" data-animate="fadeIn" data-delay="200">
            <div class="content-text">
              <a href="https://players.brightcove.net/791607097001/9fa20be7-aba0-42f9-92b4-438ab9db690a_default/index.html?videoId=6189968370001" data-lightbox="iframe" style="position: relative;">
                <img width="57" height="70" src="./images/play-outline.svg" alt="" /></a>
              <p>Play the President's message</p>
            </div>
          </div>
          <div class="fb"></div>
          <div class="fb"></div>
          <div class="fb"></div>
          <div class="fb" data-animate="fadeIn" data-delay="200">
            <a href="./projects/">
              <div class="content-text">
                <h5>Projects</h5>
                <p>
                  See the list of 2019 cofinanced projects organized per country
                </p>
              </div>
              <div class="tint"></div>
            </a>
          </div>
          
        </div>
        <!--/flex-container-1a-->
      </div>
      <!--/col-->

      <div class="col-md-6 section-1b" style="">
        <div class="flex-container-1b">
          <div class="fb" data-animate="fadeIn" data-delay="400">
            <a href="./strategy-2030/">
              <div class="content-text">
                <h5>Strategy 2030</h5>
                <p>
                  Find out how cofinancing supports Strategy 2030’s operational
                  priorities
                </p>
              </div>
              <div class="tint"></div>
            </a>
          </div>
          <div class="fb"></div>
          <div class="fb" data-animate="fadeIn" data-delay="600">
            <a href="./partners/">
              <div class="content-text">
                <h5>Partners</h5>
                <p>
                  Find out who ADB’s financing partners are and what their
                  contributions have been
                </p>
              </div>
              <div class="tint"></div>
            </a>
          </div>
          <div class="fb"></div>
          <div class="fb" data-animate="fadeIn" data-delay="800">
            <a href="./data/">
              <div class="content-text">
                <h5>Data</h5>
                <p>
                  Find out who the top cofinancers are, which countries and sectors generated the most cofinancing, and more
                </p>
              </div>
              <div class="tint"></div>
            </a>
          </div>
          <div class="fb" data-animate="fadeIn" data-delay="1000">
            <a href="./stories">
              <div class="content-text">
                <h5>Stories</h5>
                <p>
                  Read about the results of ADB’s financing partnerships and how
                  they are fostering shared progress in Asia and the Pacific
                </p>
              </div>
              <div class="tint"></div>
            </a>
          </div>
          <div class="fb" data-animate="fadeIn" data-delay="1200">
            <a href="./private-sector/">
              <div class="content-text">
                <h5>Private Sector</h5>
                <p>Get a glimpse of ADB's private sector cofinancing operations</p>
              </div>
              <div class="tint"></div>
            </a>
          </div>
          <div id="explore" class="fb" data-animate="fadeIn" data-delay="1400">
            <div class="content-text">
            </div>
          </div>

          <div class="fb"></div>
          <div class="fb"></div>
          <div class="fb"></div>
          <div class="fb" data-animate="fadeIn" data-delay="400">
            <a href="./modalities/">
              <div class="content-text">
                <h5>Modalities</h5>
                <p>
                  Get the latest on project-specific cofinancing, partnership framework arrangements, financing partnership facilities,
                  trust funds, and global funds
                </p>
              </div>
              <div class="tint"></div>
            </a>
          </div>
        </div>
        <!--/flex-container-1b-->
      </div>
      <!--/col-->
    </div>
    <!--/row section 1-->
  </div>
</section>
