<section id="dr-building">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h2>Building Strong Partnerships for Shared Progress</h2>
        
        <p>Strategy 2030 works to eradicate extreme poverty while expanding its vision of a prosperous, inclusive, resilient, and sustainable Asia and the Pacific. Financing partnerships are critical to delivering this vision.</p>
        
        <p>Thanks in large measure to financing partnerships, ADB operations reached $33.75 billion in 2019. Cofinancing totaled $11.86 billion, leveraged by $21.89 billion in ADB’s own loans, grants, guarantees, and equity investments. Of these, sovereign cofinancing for both investment projects and technical assistance reached $4.87 billion, representing almost a quarter of ADB’s sovereign operations.</p>
          
        <p>For 2019, ADB successfully collaborated with 33 different partners on 148 projects supportive of sovereign operations in 24 developing member countries.</p>

        <p><strong>This Partnership Report highlights ADB's performance in sovereign cofinancing in 2019.</strong></p>

        <ul>
          <li><i class="icon-line-plus"></i> Exploring new oppurnities</li>
          <li><i class="icon-line-plus"></i> Building on past successes</li>
          <li><i class="icon-line-plus"></i> 2019 milestones</li>
        </ul>
      </div>
      <div class="col-md-5 section-2b"><img src="./images/girl-music.png" alt="map" class="" title="" /></div>
    </div>
  </div>
</section>