<section id="dr-building">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h2>Building Strong Partnerships for Shared Progress</h2>
        
        <p>Strong partnerships are at the core of the Asian Development Bank's (ADB) <a href="https://www.adb.org/documents/strategy-2030-prosperous-inclusive-resilient-sustainable-asia-pacific"> Strategy 2030</a> to achieve a prosperous, inclusive, resilient, and sustainable Asia and the Pacific.</p>

        <p>Through its work with partners, ADB can mobilize additional financial and technical resources for its support for its Developing Member Countries (DMCs). Partnerships can also help improve coordination and reduce fragmentation of the support provided to DMCs. Finally, partnerships can help deliver outcomes that would not have been possible if either the ADB or the partner had operated in isolation.</p>

        <p>The 2019 ADB Partnership Report highlights a large number of exciting and impactful partnership examples. They illustrate and explain how partnership initiatives are delivering concrete impacts on the ground, and how they are aligned with Strategy 2030's seven operational priorities. The Report also provides a summary of the different types of financing partnerships that supported the ADB’s sovereign operations in 2019 through either project-specific cofinancing or through trust funds. The virtual format of the report allows the reader to explore which partners have new or ongoing partnerships with ADB in 2019, which sectors the partnerships focused on, and in which DMCs the projects are being implemented.</p> 

        <p>Overall, sovereign cofinancing commitments reached $4.89 billion, adding to ADB sovereign operations worth $18.86 billion, including technical assistance.  That means that every dollar of ADB sovereign financing was accompanied by about 26 cents of cofinancing from partners. In 2019, ADB successfully collaborated with 33 different partners on 148 individual cofinancing operations that supported sovereign operations in 24 DMCs.</p>

        <ul>
          <li><i class="icon-line-plus"></i> <a href="./overview/#project-specific-cofinancing">Project Specific Cofinancing</a></li>
          <li><i class="icon-line-plus"></i> <a href="./overview/#trust-funds">Trust Funds</a></li>
          <li><i class="icon-line-plus"></i> <a href="./overview/#timeline">2019 Milestones</a></li>
        </ul>
      </div>
      <div class="col-md-5"><img src="./images/girl-music.png" alt="map" class="" title="" /></div>
    </div>
  </div>
</section>