<section id="dr-building">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>Building Strong Partnerships for Shared Progress</h2>
      </div>
      <div class="col-md-4"></div>
    </div>
    <div class="row">
      <div class="col-md-7">
        <p>By working with partners, ADB makes additional financial and technical resources available for its developing member countries (DMCs). Working with partners also helps improve coordination and reduce fragmentation of the support provided to DMCs. Finally, partnerships can help deliver outcomes that would not have been possible if either the ADB or the partner had operated in isolation.</p>

        <p>The 2019 ADB Partnership Report highlights many exciting and impactful examples of ADB financing partnerships (“cofinancing”) in both the ADB’s sovereign operations and its nonsovereign operations. These examples illustrate and explain how cofinancing partnerships are delivering concrete impacts on the ground, how they are aligned with Strategy 2030’s seven operational priorities, and how cofinancing amplifies ADB’s private sector operations.</p> 

        <p>ADB’s sovereign cofinancing commitments of $4.89 billion added to ADB sovereign operations worth $18.86 billion. This means that every dollar of ADB sovereign financing was accompanied by about 26 cents of cofinancing from partners. In 2019, ADB successfully collaborated with 33 different partners on 148 individual cofinancing operations that supported sovereign operations in 24 DMCs.</p>

        <p>Cofinancing for ADB's nonsovereign operations, on the other hand, amounted to $6.97 billion. Of this, $3.56 billion came from short-term cofinancing while $3.41 billion were long-term cofinancing. The long-term cofinancing was against ADB’s own nonsovereign financing commitment of $2.40 billion (net of risk transfers). This means that every $1 of ADB funding for private sector operations was accompanied by $1.5 in cofinancing.</p>

        <p>As the COVID-19 global pandemic unfolds, and new priorities emerge on top of the existing needs of the region—from bolstering health systems of DMCs to setting up economic and social safeguards for the vulnerable sectors to stimulating economies that stalled or slowed down in the pandemic—ADB’s partnerships need to be all the stronger to continue working for a prosperous, inclusive, resilient, and sustainable Asia and the Pacific.</p>
        
      </div>
      <div class="col-md-5">
        <ul>
          <li><i class="icon-line-plus"></i> <a href="./overview/#project-specific-cofinancing">Project-Specific Cofinancing</a></li>
          <li><i class="icon-line-plus"></i> <a href="./overview/#trust-funds">Trust Funds</a></li>
          <li><i class="icon-line-plus"></i> <a href="./overview/#timeline">2019 Milestones</a></li>
        </ul>
        <p class="dr-note">
          All figures in the Partnership Report 2019 are based on commitments. As defined by ADB, “commitment” is the financing approved by ADB’s Board of Directors or Management for which the investment agreement has been signed by the borrower, recipient, or the investee company and ADB. It is the amount indicated in the investment agreement that may or may not be equal to the approved amount, depending on the exchange rate at the time of signing.
          </p>
          
        <img src="./images/girl-music.png" alt="map" class="" title="" />
      </div>
    </div>
  </div>
</section>