<section id="dr-data-commitments" class="py-5">
  <div class="row">
    <div class="col-md-3">
      <h4 class="dr-pre-head">Total Sovereign Operations</h4>
      <h3 class="dr-fund-total"><em>$</em>23.75 <strong>billion</strong></h3>
    </div>
    <div class="col-md-9 px-lg-5">
      <h3 class="dr-qt"><em>How much</em> sovereign cofinancing was raised?</h3>

      <p>Sovereign cofinancing commitments reached $4.89 billion in 2019, adding to ADB sovereign financing worth $18.86 billion, including technical assistance. This means that every dollar of ADB sovereign financing was accompanied by about 26 cents of cofinancing from partners.</p>
      
      <div class="row">
        <div class="col-8">
          <ul class="chart nav nav-pills">
            <li class="" style="width: 93%;"><a href="#loansadb" data-toggle="tab">$17.80 billion - Loans - ADB Financing</a></li>
            <li class="" style="width: 5%;"><a href="#grantsadb" data-toggle="tab">$844 million - Grants - ADB Financing</a></li>
            <li class="" style="width: 2%;"><a href="#taadb" data-toggle="tab">$221 million - Technical Assistance - ADB Financing</a></li>
          </ul>
          <div class="chart-content tab-content adb-chart">
            <div class="tab-pane body-tab" id="loansadb">
              <div style="width: 100%;">
                <div class="dr-typeof">
                    <span class="dr-amount">$17.80 billion</span>
                    <span class="dr-cofin-type">Loans</span>
                    <span class="dr-cofinancer">ADB Sovereign Financing</span>
                </div>
              </div>
            </div><!--/tab-1-->

            <div class="tab-pane body-tab" id="grantsadb">
              <div style="width: 100%;">
                <div class="dr-typeof">
                    <span class="dr-amount">$844 million</span>
                    <span class="dr-cofin-type">Grants</span>
                    <span class="dr-cofinancer">ADB Sovereign Financing</span>
                </div>
              </div>
            </div><!--/tab-2-->

            <div class="tab-pane body-tab" id="taadb">
              <div style="width: 100%;">
                <div class="dr-typeof">
                  <span class="dr-amount">$221 million</span>
                  <span class="dr-cofin-type">Technical Assistance</span>
                  <span class="dr-cofinancer">ADB Sovereign Financing</span>
                </div>
              </div>
            </div><!--/tab-3-->
          </div>
        </div>
        <div class="col-4">
          <ul class="chart nav nav-pills">
            <li class="" style="width: 90%;"><a href="#adbop" data-toggle="tab">$4.51 billion - Loans - Sovereign Cofinancing</a></li>
            <li class="" style="width: 6%;"><a href="#sovcof" data-toggle="tab">$152 million - Grants - Sovereign cofinancing</a></li>
            <li class="" style="width: 4%;"><a href="#nsovcof" data-toggle="tab">$219 million - Technical Assistance Sovereign cofinancing</a></li>
          </ul>
          <div class="chart-content tab-content scf-chart">
            <div class="tab-pane body-tab" id="adbop">
              <div style="width: 92%;">
                <div class="dr-typeof">
                    <span class="dr-amount">$4.51 billion</span>
                    <span class="dr-cofin-type">Loans</span>
                    <span class="dr-cofinancer">Sovereign Cofinancing</span>
                </div>
              </div>
            </div><!--/tab-1-->

            <div class="tab-pane body-tab" id="sovcof">
              <div style="width: 95%;">
                <div class="dr-typeof">
                    <span class="dr-amount">$152 million</span>
                    <span class="dr-cofin-type">Grants</span>
                    <span class="dr-cofinancer">Sovereign Cofinancing</span>
                </div>
              </div>
            </div><!--/tab-2-->

            <div class="tab-pane body-tab" id="nsovcof">
              <div style="width: 100%;">
                <div class="dr-typeof">
                  <span class="dr-amount">$219 million</span>
                  <span class="dr-cofin-type">Technical Assistance</span>
                  <span class="dr-cofinancer">Sovereign Cofinancing</span>
                </div>
              </div>
            </div><!--/tab-3-->
          </div>
        </div>
      </div>
      
  </div>
  </div>
</section>