<section id="dr-data-commitments" class="py-5">
  <div class="row">
    <div class="col-md-3">
      <h4 class="dr-pre-head">Total ADB Operations</h4>
      <h3 class="dr-fund-total"><em>$</em>33.75 <strong>billion</strong></h3>
    </div>
    <div class="col-md-9 px-lg-5">
      <h3 class="dr-qt">How <em>much sovereign cofinancing did ADB’s partners commit in 2019?</em></h3>

      <p>For 2019, ADB successfully collaborated with 33 different partners on 148 projects supportive of sovereign operations in 24 developing member countries. Total cofinancing commitment for 2019 reached US$ 4.89 billion, representing almost a quarter of 2019’s sovereign operations.</p>
        
    </div>
  </div>
  <div class="row">
    <div class="col mx-auto pb-5">
       <img src="./images/2019-adb-commitments.png" alt="" data-animate="fadeInUp" data-delay="200" class="">
    </div>
  </div>
</section>