<section id="dr-explore">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="flex-container-3">
          <div class="fb1">
            <h1>Explore the 2019 Partnership Report</h1>
          </div>

          <div class="fb2"></div>

          <div class="fb3">
            <a href="./overview/">
              <div class="content-text">
                <h6>Overview</h6>
                <p>
                  Get a quick feel of ADB’s sovereign cofinancing operations and
                  milestones in 2019
                </p>
              </div>
              <div class="tint"></div>
            </a>
          </div>
          <!--/fb3-->

          <div class="fb4">
            <a href="./data/">
              <div class="content-text">
                <h6>Data</h6>
                <p>
                  Find out who the top cofinancers are, which countries and sectors generated the most cofinancing and more
                </p>
              </div>
              <div class="tint"></div>
            </a>
          </div>
          <!--/fb4-->

          <div class="fb5" style="">
            <a href="./partners/">
              <div class="content-text">
                <h6>Partners</h6>
                <p>
                  Find out who ADB’s financing partners are and what their
                  contributions have been
                </p>
              </div>
              <div class="tint"></div>
            </a>
          </div>
          <!--/fb5-->

          <div class="fb6">
            <a href="./strategy-2030/">
              <div class="content-text">
                <h6>Strategy 2030</h6>
                <p>
                  Find out how cofinancing supports Strategy 2030’s operational
                  priorities
                </p>
              </div>
              <div class="tint"></div>
            </a>
          </div>
          <!--/fb6-->

          <div class="fb7"></div>
          <div class="fb8"></div>

          <div class="fb9" style="">
            <a href="./modalities//">
              <div class="content-text">
                <h6>Modalities</h6>
                <p>
                  Get the latest on project-specific cofinancing , framework
                  cofinancing arrangements, financing partnership facilities,
                  trust funds, and global funds
                </p>
              </div>
              <div class="tint"></div>
            </a>
          </div>
          <!--/fb9-->

          <div class="fb10">
            <a href="./projects/">
              <div class="content-text">
                <h6>Projects</h6>
                <p>
                  See the list of 2019 cofinanced projects organized per country
                </p>
              </div>
              <div class="tint"></div>
            </a>
          </div>
          <!--/fb10-->

          <div class="fb11"></div>

          <div class="fb12">
            <a href="./stories/">
              <div class="content-text">
                <h6>Stories</h6>
                <p>
                  Read about the results of ADB’s financing partnerships and how
                  they are fostering shared progress in Asia and the Pacific
                </p>
              </div>
              <div class="tint"></div>
            </a>
          </div>
          <!--/fb12-->

          <div class="fb13">
            <a href="./feature/">
              <div class="content-text">
                <h6>Feature</h6>
                <p>Get the full list of partner contributions since 1967</p>
              </div>
              <div class="tint"></div>
            </a>
          </div>
          <!--/fb13-->

          <div class="fb14"></div>
        </div>
        <!--/flex-container-3-->
      </div>
    </div>
  </div>
</section>
