
		<footer id="footer" class="">

			<div class="container">
                {{ "<!-- Footer Widgets -->" | safeHTML }}
				<div class="footer-widgets-wrap clearfix row">
					<div class="col-lg-6">
						<h4>BUILDING STRONG PARTNERSHIPS FOR SHARED PROGRESS</h4>
						<h3>PARTNERSHIP REPORT 2019</h3>
						<p>This microsite highlights exciting and impactful examples of sovereign financing partnerships. They illustrate how sovereign financing partnerships are delivering concrete impacts on the ground, and how they are aligned with ADB Strategy 2030's seven operational priorities. The microsite also provides a summary of the different types of financing partnerships that supported the ADB’s sovereign operations in 2019. While the report largely focuses on sovereign financing partnerships, it also has a separate chapter highlighting nonsovereign financing partnerships to give a fuller picture of ADB's cofinancing activities in 2019.  The Partnership Report is intended for current and prospective sovereign development financing partners of ADB.
						</p>
					</div>
					<div class="col-lg-6">
						<h4>ABOUT THE</h4>
						<h3>ASIAN DEVELOPMENT BANK</h3>
						<p>ADB is committed to achieving a prosperous, inclusive, resilient, and sustainable Asia and the Pacific, while sustaining its efforts to eradicate extreme poverty. Established in 1966, it is owned by 68 members—49 from the region. Its main instruments for helping its developing member countries are policy dialogue, loans, equity investments, guarantees, grants, and technical assistance.
						</p>
						<h5>Headquarters</h5>
						<p>6 ADB Avenue, Mandaluyong City 1550, Metro Manila, Philippines <br>
							+63 2 8632 4444</p>
					</div>    

				</div>
				{{ "<!-- .footer-widgets-wrap end -->" | safeHTML }}

			</div>

			<!-- Copyrights
			============================================= -->
			<div id="copyrights">

				<div class="container clearfix">
					<div class="col_half">
						<p>© 2020 Asian Development Bank</p>
						<p><a href="https://www.adb.org/terms-use">Terms of Use</a> / <a href="https://www.adb.org/site/disclosure/main">Access to Information</a> / <a href="{{ .Site.BaseURL }}/notes">Notes</a></p>
					</div>

					<div class="col_half col_last tright">
						<div id="socmed" class="fright clearfix">
							<span>ADB Partnerships</span>

							<a href="https://www.facebook.com/ADBpartnerships/" target="_blank" class="social-icon si-small si-borderless si-facebook">
								<i class="icon-facebook"></i>
								<i class="icon-facebook"></i>
							</a>

							<a href="https://twitter.com/AdbPartnerships" target="_blank" class="social-icon si-small si-borderless si-twitter">
								<i class="icon-twitter"></i>
								<i class="icon-twitter"></i>
							</a>

							<a href="https://www.youtube.com/channel/UCBAHgXpTFto0FQiBcUSPXew" target="_blank" class="social-icon si-small si-borderless si-youtube">
								<i class="icon-youtube"></i>
								<i class="icon-youtube"></i>
							</a>

							<a href="https://www.linkedin.com/in/adbpartnerships/" target="_blank" class="social-icon si-small si-borderless si-linkedin">
								<i class="icon-linkedin"></i>
								<i class="icon-linkedin"></i>
							</a>
						</div>
					</div>

				</div>

			</div><!-- #copyrights end -->

		</footer><!-- #footer end -->