
		<footer id="footer" class="">

			<div class="container">
                
				<!-- Footer Widgets
				============================================= -->
				<div class="footer-widgets-wrap clearfix">
					<div class="col_half">
						<h4>PARTNERING FOR DEVELOPMENT</h4>
						<h3>DONOR REPORT 2019</h3>
						<p>This publication showcases activities and results of financing partnerships of the Asian Development Bank (ADB) in 2019. Stories illustrate how these partnerships have made a significant difference in the lives of the poor. ADB partners benefit from the wide range of financing options as they seek to begin or expand their commitment to developing Asia and the Pacific as well as support ADB’s strategic priorities as indicated in its Strategy 2030. The donor report is intended for current and prospective sovereign development financing partners of ADB.
						</p>
					</div>
					<div class="col_half col_last">
						<h4>ABOUT THE</h4>
						<h3>ASIAN DEVELOPMENT BANK</h3>
						<p>ADB is committed to achieving a prosperous, inclusive, resilient, and sustainable Asia and the Pacific, while sustaining its efforts to eradicate extreme poverty. Established in 1966, it is owned by 68 members—49 from the region. Its main instruments for helping its developing member countries are policy dialogue, loans, equity investments, guarantees, grants, and technical assistance.
						</p>
						<h5>Headquarters</h5>
						<p>6 ADB Avenue, Mandaluyong City 1550, Metro Manila, Philippines <br>
							+63 2 632 4444     +63 2 636 2444</p>
					</div>    

				</div><!-- .footer-widgets-wrap end -->

			</div>

			<!-- Copyrights
			============================================= -->
			<div id="copyrights">

				<div class="container clearfix">

					

				</div>

			</div><!-- #copyrights end -->

		</footer><!-- #footer end -->