<head>
	{{$section := .Section}}
	<meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1">
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<base href="{{ .Site.BaseURL }}">

	<meta name="author" content="{{ .Site.Params.author }}">
	<meta name="description" content="{{ .Site.Params.description }}" />

	<meta name="keywords" content="{{ .Site.Params.keywords }}" />
	
	<meta name="revised" content="" />
	<link rel="canonical" href="http://www.adb.org/" />
	<link rel="shortlink" href="http://www.adb.org/" />
	<link rel="publisher" href="http://www.adb.org" />

	<meta name="original-source" content="{{ .Site.BaseURL }}" />
	<meta property="og:title" content="{{ .Site.Params.keywords }}" />
	<meta property="og:site_name" content="Asian Development Bank" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="{{ .Site.BaseURL }}" />
	<meta property="og:image" content="{{ .Site.BaseURL }}images/pr-social-cover.jpg" />
	<meta property="og:description" content="{{ .Site.Params.description }}" />
	<meta property="og:image:type" content="image/jpeg" />
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:creator" content="@ADB_HQ" />
	<meta name="twitter:url" content="{{ .Site.BaseURL }}" />
	<meta name="twitter:title" content="{{ .Site.Params.title }}" />
	<meta name="twitter:image" content="{{ .Site.BaseURL }}images/pr-social-cover.jpg" />
	<meta name="twitter:description" content="{{ .Site.Params.description }}" />

	


	<!-- Stylesheets
	============================================= -->
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Raleway:300,400,500,600,700|Crete+Round:400i" rel="stylesheet" type="text/css" />
  {{ "<!-- bootstrap css -->" | safeHTML}}
	<link rel="stylesheet" href="{{ `css/bootstrap.css` | absURL }}" type="text/css" />

	<link rel="stylesheet" href="{{ `style.css` | absURL }}" type="text/css" />
	<link rel="stylesheet" href="{{ `css/swiper.css` | absURL }}" type="text/css" />
	<link rel="stylesheet" href="{{ `css/dark.css` | absURL }}" type="text/css" />
	<link rel="stylesheet" href="{{ `css/font-icons.css` | absURL }}" type="text/css" />
	<link rel="stylesheet" href="{{ `css/animate.css` | absURL }}" type="text/css" />
	<link rel="stylesheet" href="{{ `css/magnific-popup.css` | absURL }}" type="text/css" />

	<link rel="stylesheet" href="{{ `css/responsive.css` | absURL }}" type="text/css" />

  <link rel="stylesheet" href="{{ `css/tooltipster.bundle.css` | absURL }}" type="text/css" />
	<link rel="stylesheet" href="{{ `css/tooltipster-sideTip-shadow.min.css` | absURL }}" type="text/css" />
	{{ if eq $section "projects" }}
  <link rel="stylesheet" href="{{ `css/accordion.css` | absURL }}" type="text/css" />
	<link rel="stylesheet" href="{{ `css/map.css` | absURL }}" type="text/css" />
	{{ end }}

	{{ if eq $section "private-sector" }}
  <link rel="stylesheet" href="{{ `css/accordion.css` | absURL }}" type="text/css" />
	{{ end }}

	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- Document Title
	============================================= -->

	{{ $title := print .Title " | " .Site.Title }}
    {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
		<title>{{ $title }}</title>
		
		

</head>