{{ range .Site.Data.nso.projects }}
<section class="">
  <div class="row justify-content-md-center dr-article-body">
    <div class="col-10">
      <h3> <a href=".{{ .storylink }}">{{ .headline }}</a></h3>
      <p>{{ .lead | markdownify }}</p>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-10">
      <section class="dr-mod-proj row justify-content-md-center">
        <div class="col-md-6">
          <a href=".{{ .storylink }}">{{ with .image }} <img src="./{{ . }}" alt=""> {{ end }}</a>
        </div>
        <div class="col-md-6">
          <h6>Project</h6>
          <p><a href="{{ .url }}">{{ .title }}</a></p>
      
          <h6>Project Cost</h6>
          {{ with .cost }}<p class="dr-cost">{{ . }}</p>{{ end }}
          {{ $finpart := .fin_partners }}              
          <h6>Financing {{ cond (eq (len $finpart) 1) "Partner" "Partners" }}</h6>
          <p class="dr-partner"></p>
          <ul class="dr-funding">
            {{ range .fin_partners }}<li>{{ .name  | markdownify }} <strong>{{ .amount | markdownify }}</strong> </li>{{ end }}
          </ul>
          <h6>Approval Date:</h6>
          <p>{{ .approval }}</p>
          <h6>Signing Date:</h6>
          <p>{{ .signing }}</p>
        </div>
      </section>
    </div>
    
  </div>
  </section>
{{ end }}