<section id="dr-nsov" class="py-5">
  <div class="row">
    <div class="col-sm-3">
      <h4 class="dr-pre-head">Total Cofinancing</h4>
      <h3 class="dr-fund-total"><em>$</em>11.86 <strong>billion</strong></h3>
    </div>
    <div class="col-sm-9 px-lg-5">
      <h3 class="dr-qt"><em>What</em> is the breakdown of ADB's operations in 2019?</h3>
    </div>
  </div>
  <div class="row py-lg-5">
    <div class="col-sm-3 dr-hl-side">

      {{ "<!-- side nav -->" | safeHTML }}
      

      {{ "<!-- /side nav -->" | safeHTML }}
    </div>
    <div class="col-sm-9 px-lg-5">
      {{ "<!-- tab content -->" | safeHTML }}
            
          <p>ADB operations reached $33.75 billion in 2019. Cofinancing totaled $11.86 billion, leveraged by $21.89 billion in ADB's own loans, grants, guarantees and equity investments. Of these, sovereign cofinancing for both investment projects and technical assistance reached $4.89 billion while nonsovereign cofinancing reached $6.97 billion.</p>
      
          <div class="row">
            <div class="col">
              <ul class="chart nav nav-pills">
                <li class="breakdown-bar" style="width: 66%; border-right: 2vw solid #fff;"><a href="#sovereign" data-toggle="tab" class="">
                  <span style="width: 86%;">$18.86 billion - ADB Financing</span>
                  <span style="width: 14%;">$4.89 billion - Cofinancing</span>
                  <span style="">$23.75 billion - Sovereign</span>
                  </a></li>
                <li class="breakdown-bar" style="width: 34%;"><a href="#nonsovereign" data-toggle="tab">
                  <span style="width: 40%;">$3.03 billion - ADB Financing</span>
                  <span style="width: 60%;">$6.97 billion - Cofinancing</span>
                  <span style="">$10.00 billion - Nonsovereign</span>
                  </a></li>
              </ul>
              <div class="chart-content tab-content">
                <div class="tab-pane body-tab" id="sovereign">
                  <div>
                    <div class="dr-typeof" style="width: 52%;">
                        <span class="dr-amount">$18.86 billion</span>
                        <span class="dr-cofin-type">ADB Financing</span>
                        <span class="dr-breakdown">$18.64 billion <strong>Projects</strong></span>
                        <span class="dr-breakdown">$0.22 billion <strong>TA</strong></span>
                    </div>
                    
                    <div class="dr-typeof" style="width: 42%;">
                      <span class="dr-amount">$4.89 billion</span>
                      <span class="dr-cofin-type">Cofinancing</span>
                    </div>

                    <p class="dr-total">$23.75 billion <strong>Sovereign</strong></p>

                  </div>
                </div><!--/tab-1-->

                <div class="tab-pane body-tab" id="nonsovereign">
                  <div>
                    <div style="width: 100%;">
                      <div class="dr-typeof" style="width: 78%;">
                          <span class="dr-amount">$3.03 billion</span>
                          <span class="dr-cofin-type">ADB Financing</span>
                          <span class="dr-breakdown">$3.01 billion <strong>Projects</strong></span>
                          <span class="dr-breakdown">$0.02 billion <strong>TA</strong></span>
                      </div>
                      
                      <div class="dr-typeof" style="width: 22%;">
                        <span class="dr-amount">$6.97 billion</span>
                        <span class="dr-cofin-type">Cofinancing</span>
                      </div>

                      <p class="dr-total">$10.00 billion <strong>Nonsovereign</strong></p>
                    </div>
                  </div>
                </div><!--/tab-2-->

              </div>
            </div>
          </div>
        

      {{ "<!-- /tab content -->" | safeHTML }}
    </div>
  </div>
</section>