<section id="dr-data-nsovcommitments" class="py-5">
  <div class="row">
    <div class="col-md-3">
      <h4 class="dr-pre-head">Total Sovereign Operations</h4>
      <h3 class="dr-fund-total"><em>$</em>10.00 <strong>billion</strong></h3>
    </div>
    <div class="col-md-9 px-lg-5">
      <h3 class="dr-qt"><em>How much</em> nonsovereign cofinancing was raised?</h3>

      <p>Private sector or nonsovereign cofinancing commitments reached $6.97 billion in 2019, adding to ADB nonsovereign financing worth $3.03 billion. This means that every dollar of ADB’s own funds was matched by a dollar and fifty cofinancing.</p>
      
      <div class="row">
        <div class="col">
          <ul class="chart nav nav-pills">
            <li class="" style="width: 30%;"><a href="#adbfin" data-toggle="tab">$3.03 billion - ADB Financing</a></li>
            <li class="" style="width: 70%;"><a href="#nsovcofin" data-toggle="tab"><span class="" style="width: 45%; background-color: #ea9353;">$3.41 billion <strong>Long-Term Cofinancing</strong></span><span class="">$3.56 billion <strong>Short-Term Cofinancing</strong></span></a></li>
          </ul>
          <div class="chart-content tab-content adb-chart">
            <div class="tab-pane body-tab" id="adbfin">
              <div style="width: 100%;">
                <div class="dr-typeof">
                    <span class="dr-amount">$3.03 billion</span>
                    <span class="dr-cofin-type">ADB Financing</span>
                    <span>$3.01 billion <strong>Projects</strong></span><br>
                    <span>$0.02 billion <strong>TAs</strong></span>
                </div>
              </div>
            </div><!--/tab-1-->

            <div class="tab-pane body-tab" id="nsovcofin">
              <div style="width: 100%;">
                <div class="dr-typeof">
                    <span class="dr-amount">$6.97 billion</span>
                    <span class="dr-cofin-type">Nonsovereign Cofinancing</span>
                    <span class="">$3.41 billion <strong>Long-Term Cofinancing</strong></span><br>
                    <span class="">$3.56 billion <strong>Short-Term Cofinancing</strong></span>
                </div>
              </div>
            </div><!--/tab-2-->

          </div>
        </div>

      </div>
      
  </div>
  </div>
</section>