<section id="dr-data-raised" class="py-5">
  <div class="row">
    <div class="col-md-3">
      <h3 class="dr-fund-total"><em>$</em>4.89 <strong>billion</strong></h3>
    </div>
    <div class="col-md-9 px-lg-5">
      <h3 class="dr-qt"><em>How much</em> sovereign cofinancing was raised?</h3>

      <p>Sovereign cofinancing commitments reached $4.89 billion in 2019, adding to ADB sovereign financing worth $18.86 billion, including technical assistance. This means that every dollar of ADB sovereign financing was accompanied by about 26 cents of cofinancing from partners.</p>
      
      <div class="row">
        <div class="col">
          <ul class="chart nav nav-pills">
            <li class="" style="width: 96%;"><a href="#psc" data-toggle="tab">$4.71 billion - Project Specific Cofinacing</a></li>
            <li class="" style="width: 4%;"><a href="#tf" data-toggle="tab">$180.8 million - Trust Funds</a></li>
          </ul>
          <div class="chart-content tab-content">
            <div class="tab-pane body-tab" id="psc">
              <div style="width: 96%;">
                <div class="dr-typeof">
                    <span class="dr-amount">$4.71 billion</span>
                    <span class="dr-cofin-type">Project Specific Cofinacing</span>
                    <span class="dr-breakdown">$4.52 billion <strong>Loan Cofinacing</strong></span>
                    <span class="dr-breakdown">$190.5 million <strong>Grant Cofinacing</strong></span>
                </div>
                <p class="dr-percent">96%</p>
              </div>
            </div><!--/tab-1-->

            <div class="tab-pane body-tab" id="tf">
              <div style="width: 100%;">
                <div class="dr-typeof">
                    <span class="dr-amount">$180.8 million</span>
                    <span class="dr-cofin-type">Trust Funds</span>
                </div>
                <p class="dr-percent">4%</p>
              </div>
            </div><!--/tab-2-->

          </div>
        </div>
      </div>
      
  </div>
  </div>
</section>