
<div class="tab-content region-chart">

  <div class="tab-pane fade regionc-1" id="regionc-1">
    
    <div class="row">
      <div class="col-md-3">
        <img src="{{ `images/serd.png` | absURL }}" alt="">
      </div>
      <div class="col-md-3">
        <img src="{{ `images/serd2.png` | absURL }}" alt="">
      </div>
      <div class="col-md-3">
        <img src="{{ `images/serd3.png` | absURL }}" alt="">
      </div>
      <div class="col-md-3">
        <img src="{{ `images/serd4.png` | absURL }}" alt="">
      </div>
    </div>
  </div>

  <div class="tab-pane body-tab regionc-2" id="regionc-2">
    <div class="row">
      <div class="col">
        <h3>South Asia $1.12 billion</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <img src="{{ `images/sard.svg` | absURL }}" alt="">
      </div>
      <div class="col-md-3">
        <img src="{{ `images/sard2.svg` | absURL }}" alt="">
      </div>
      <div class="col-md-3">
        <img src="{{ `images/sard3.svg` | absURL }}" alt="">
      </div>
      <div class="col-md-3">
        <img src="{{ `images/sard4.svg` | absURL }}" alt="">
      </div>
    </div>
  </div>

  <div class="tab-pane body-tab regionc-3" id="regionc-3">
    <div class="row">
      <div class="col">
        <h3>Central and West Asia $442.15 million</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <img src="{{ `images/cwrd.svg` | absURL }}" alt="">
      </div>
      <div class="col-md-3">
        <img src="{{ `images/cwrd2.svg` | absURL }}" alt="">
      </div>
      <div class="col-md-3">
        <img src="{{ `images/cwrd3.svg` | absURL }}" alt="">
      </div>
      <div class="col-md-3">
        <img src="{{ `images/cwrd4.svg` | absURL }}" alt="">
      </div>
    </div>
  </div>

  <div class="tab-pane body-tab regionc-4" id="regionc-4">
    <div class="row">
      <div class="col">
        <h3>East Asia $376.12 million</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <img src="{{ `images/eard.svg` | absURL }}" alt="">
      </div>
      <div class="col-md-3">
        <img src="{{ `images/eard2.svg` | absURL }}" alt="">
      </div>
      <div class="col-md-3">
        <img src="{{ `images/eard3.svg` | absURL }}" alt="">
      </div>
      <div class="col-md-3">
        <img src="{{ `images/eard4.svg` | absURL }}" alt="">
      </div>
    </div>
  </div>

  <div class="tab-pane body-tab regionc-5" id="regionc-5">
    <div class="row">
      <div class="col">
        <h3>Pacific $206.13 million</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <img src="{{ `images/pard.svg` | absURL }}" alt="">
      </div>
      <div class="col-md-3">
        <img src="{{ `images/pard2.svg` | absURL }}" alt="">
      </div>
      <div class="col-md-3">
        <img src="{{ `images/pard3.svg` | absURL }}" alt="">
      </div>
      <div class="col-md-3">
        <img src="{{ `images/pard4.svg` | absURL }}" alt="">
      </div>
    </div>   
  </div>

  <div class="tab-pane body-tab regionc-6" id="regionc-6">
    <div class="row">
      <div class="col">
        <h3>Across Regions $84.12 million</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <img src="{{ `images/reg.svg` | absURL }}" alt="">
      </div>
      <div class="col-md-3">
        <img src="{{ `images/reg2.svg` | absURL }}" alt="">
      </div>
      <div class="col-md-3">
        <img src="{{ `images/reg3.svg` | absURL }}" alt="">
      </div>
      <div class="col-md-3">
        <img src="{{ `images/reg4.svg` | absURL }}" alt="">
      </div>
    </div> 
  </div>

</div><!--/chart-content-->


