{{$section := .Section}}
<div id="dr-section-title-{{ $section }}" class="row dr-section-title dr-section-header">
    <div class="col-md-6">
        <h2>{{ .CurrentSection.Title }}</h2>

        {{ $markdown := .Params.section_summary | markdownify }}

        {{ if not ( strings.Contains $markdown "<p>" ) }}
            <p>{{ $markdown }}</p>
        {{ else }}
            {{ $markdown }}
        {{ end }}
        
    </div>
    <div class="col-md-6">
        {{ with .Params.section_image }}
        <div class="dr-sectionimage"><img src="{{ . | absURL }}" alt=""></div>
        {{ end }}
    </div>
</div>