<section id="dr-explore">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="flex-container-3">
          <div class="fb1">
            <h1>Stories</h1>
          </div>

          <div class="fb2"></div>

          <div class="fb3">
            <a href="./stories/broadband-satellite-for-remote-communities/">
              <div class="content-text">
                <h6>Regional: Broadband Satellite for Remote Communities</h6>
              </div>
              <div class="tint"></div>
            </a>
          </div>
          <!--/fb3-->

          <div class="fb4">
            <a href="./stories/improving-urban-mobility-in-mumbai/">
              <div class="content-text">
                <h6>India: Improving Urban Mobility in Congested Mumbai</h6>
              </div>
              <div class="tint"></div>
            </a>
          </div>
          <!--/fb4-->

          <div class="fb5" style="">
            <a href="./stories/critical-thoroughfare-gets-much-needed-makeover/">
              <div class="content-text">
                <h6>Kiribati: Critical Thoroughfare Gets Much Needed Makeover</h6>
              </div>
              <div class="tint"></div>
            </a>
          </div>
          <!--/fb5-->

          <div class="fb6">
            <a href="./stories/solar-power-meets-hydropower/">
              <div class="content-text">
                <h6>Viet Nam: Solar Power Meets Hydropower</h6>
              </div>
              <div class="tint"></div>
            </a>
          </div>
          <!--/fb6-->

          <div class="fb7"></div>
          <div class="fb8">
            <a href="./stories/">
              <div class="content-text">
                <p><img
                    width="57"
                    height="70"
                    src="images/read-more-plus.svg"
                    alt=""
                />
                Read more Stories</p>
              </div>
            </a>
          </div>
          <div class="fb9" style="">
            <a href="./stories/access-to-credit-empowers-sri-lankan-women/">
              <div class="content-text">
                <h6>Sri Lanka: Access to Credit Empowers Sri Lankan Women</h6>
              </div>
              <div class="tint"></div>
            </a>
          </div>
          <!--/fb9-->

          <div class="fb10">
            <a href="./stories/in-uncertain-times-ample-preparation-for-food-production/">
              <div class="content-text">
                <h6>Bangladesh: In Uncertain Times, Ample Preparation for Food Production</h6>
              </div>
              <div class="tint"></div>
            </a>
          </div>
          <!--/fb10-->

          <div class="fb11"></div>

          <div class="fb12">
            <a href="./stories/modernizing-power-trade-coordination-in-central-asia/">
              <div class="content-text">
                <h6>Regional: Modernizing Power Trade Coordination in Central Asia</h6>
              </div>
              <div class="tint"></div>
            </a>
          </div>
          <!--/fb12-->

          <div class="fb13">
            <a href="./stories/rebuilding-the-road-to-the-border/">
              <div class="content-text">
                <h6>Tajikistan: Rebuilding the Road to the Border</h6>
              </div>
              <div class="tint"></div>
            </a>
          </div>
          <!--/fb13-->

          <div class="fb14">
            <a href="https://www.youtube.com/channel/UCBAHgXpTFto0FQiBcUSPXew" target="_blank">
              <div class="content-text">
                <p><img width="57" height="70" src="./images/play-outline.svg" alt="" />
                Visit our YouTube Channel</p>
              </div>
            </a>
          </div>
        </div>
        <!--/flex-container-3-->
      </div>
    </div>
  </div>
</section>
