{{ $data := index .Site.Data }}
  {{ with $data.timeline }}
  {{ with .title }}<h4 id="timeline" class="dr-tl-hd">{{ . | markdownify}}</h4>{{ end }}

  <ul class="timeline">
    <li><div class="timeline-badge"></div></li>
    
    {{ range .month }}
    <li>
      <div class="timeline-badge primary">
        <a class="tooltipper" data-tooltip-content="#{{ with .name }}{{ substr . 0 3 }}{{ end }}"></a>
      </div>
      <div class="timeline-panel">
        <div class="timeline-body">
          <p>{{ with .name }}{{ substr . 0 3 }}{{ end }}</p>
        </div>
      </div>
    </li>
    <div class="tooltip_templates">
      <div class="tooltip-content" id="{{ with .name }}{{ substr . 0 3 }}{{ end }}">
        <div class="tt-body">
          {{ range .item }}
          <div class="dr-milestone">
            
            {{ with .img }} <img src="./images/timeline/{{ . }}" alt="" srcset="">{{ end }}
            <h6>{{ with .link }}<a href="{{ . }}" target="_blank">{{ end }}{{ .title }}{{ with .link }}</a>{{ end }}</h6>
            {{ $markdown := .text | markdownify }}

            {{ if not ( strings.Contains $markdown "<p>" ) }}
                <p>{{ $markdown }}</p>
            {{ else }}
                {{ $markdown }}
            {{ end }}
          </div>
          {{ end }}
        </div>
      </div>
    </div>
    <!--/tooltip_templates-->
    {{ end }}

    <li><div class="timeline-badge"></div></li>
    
  </ul>
{{ end }}