<section id="dr-what" class="py-5">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-9 px-lg-5">
      <h3 class="dr-qt"><em>What</em> was the distribution of funds?</h3>
    </div>
  </div>
  <div class="row py-lg-5">
    <div class="col-sm-3 dr-hl-side">

      {{ "<!-- side nav -->" | safeHTML }}
      <div class="nav flex-column nav-pills dr-side-nav" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <span style="display: block; padding: 0.5rem 1rem; font-weight: 200; font-size: 1.4rem; color: #555;">by Product and Type of Assistance</span>
        <a class="nav-link sub-nav active" id="v-pills-loans-grants-tab" data-toggle="pill" href="#v-pills-loans-grants" role="tab" aria-controls="v-pills-loans-grants" aria-selected="false">By Product: Loans & Grants</a>
        <a class="nav-link sub-nav" id="v-pills-ipvta-tab" data-toggle="pill" href="#v-pills-ipvta" role="tab" aria-controls="v-pills-ipvta" aria-selected="false">By Assistance Type: Projects & Technical Assistance</a>
        
      </div>

      {{ "<!-- /side nav -->" | safeHTML }}
    </div>
    <div class="col-sm-9 px-lg-5">
      {{ "<!-- tab content -->" | safeHTML }}
      <div class="tab-content" id="v-pills-tabContent">
        
        <div class="tab-pane fade" id="v-pills-pta" role="tabpanel" aria-labelledby="v-pills-pta-tab">
          <h4>by Product and Type of Assistance</h4>
        </div>
        <div class="tab-pane fade active show" id="v-pills-loans-grants" role="tabpanel" aria-labelledby="v-pills-loans-grants-tab">
          <p>Loan cofinancing accounted for 92%, grant cofinancing for investment projects for 3%, and grant cofinancing for technical assistance for 5%.</p>
          
          <ul class="chart nav nav-pills">
            <li class="" style="width: 92%;"><a href="#loan-co" data-toggle="tab">$4.52 billion - Loan Cofinancing</a></li>
            <li class="" style="width: 3%;"><a href="#grant-co-inv" data-toggle="tab">$152.4 million - Grant Cofinancing for Investment Projects</a></li>
            <li class="color-green" style="width: 5%;"><a href="#grant-co-tech" data-toggle="tab">$218.9 million - Grant Cofinancing for Technical Assistance  </a></li>
          </ul>
          <br />
          <div class="chart-content tab-content">

            <div class="tab-pane body-tab" id="loan-co">

              <div style="width: 92%;">
                <div class="dr-typeof">
                  <p>
                    <span class="dr-amount">$4.52 billion</span>
                    <span class="dr-cofin-type">Loan Cofinancing</span>
                    <span class="dr-projects">17 Projects</span></p>

                </div>
                <p class="dr-percent">92%</p>
              </div>
              
            </div><!--/tab-1-->

            <div class="tab-pane body-tab" id="grant-co-inv">

              <div style="width: 95%;">
                <div class="dr-typeof">
                  <p>
                    <span class="dr-amount">$152.4 million</span>
                    <span class="dr-cofin-type">Grant Cofinancing for Investment Projects</span>
                    <span class="dr-projects">22 Projects</span></p>

                </div>
                <p class="dr-percent">3%</p>
              </div>
              
            </div><!--/tab-2-->

            <div class="tab-pane body-tab" id="grant-co-tech">

              <div style="width: 100%;">
                <div class="dr-typeof">
                  <p>
                    <span class="dr-amount">$218.9 million</span>
                    <span class="dr-cofin-type">Grant Cofinancing for Technical Assistance</span>
                    <span class="dr-projects">112 Projects</span></p>

                </div>
                <p class="dr-percent">5%</p>
              </div>
              
            </div><!--/tab-3-->

            
          </div><!--/chart-content-->
        

        </div>
        <div class="tab-pane fade" id="v-pills-ipvta" role="tabpanel" aria-labelledby="v-pills-ipvta-tab">
          <p>Of the $4.89 billion sovereign cofinancing commitments in 2019, 96% was for investment project cofinancing and 4% for technical assistance cofinancing.</p>
          <ul class="chart nav nav-pills">
            <li class="" style="width: 96%;"><a href="#inv-pro" data-toggle="tab">$4.67 billion - Investment Projects </a></li>
            <li class="" style="width: 4%;"><a href="#tech-assist" data-toggle="tab">$218.9 million - Technical Assistance </a></li>
          </ul>
        
          <div class="chart-content tab-content">

            <div class="tab-pane body-tab" id="inv-pro">

              <div style="width: 96%;">
                <div class="dr-typeof">
                  <p><span class="dr-amount">$4.67 billion</span> 
                    <span class="dr-cofin-type">Investment Projects</span>
                    <span class="dr-projects">36 Projects</span></p>

                </div>
                <p class="dr-percent">96%</p>
              </div>
              
            </div><!--/tab-1-->

            <div class="tab-pane body-tab" id="tech-assist">

              <div style="width: 100%;">
                <div class="dr-typeof">
                  <p><span class="dr-amount">$218.9 million</span> 
                     <span class="dr-cofin-type">Technical Assistance</span>
                     <span class="dr-projects">112 Projects</span></p>

                </div>
                <p class="dr-percent">4%</p>
              </div>
              
            </div><!--/tab-2-->               
            
          </div><!--/chart-content-->
        </div>
        <div class="tab-pane fade" id="v-pills-psvtfc" role="tabpanel" aria-labelledby="v-pills-psvtfc-tab">
          <p>Project-specific cofinancing made up 94% of the 2019 total, while trust fund cofinancing peaked at 6%.</p>
          
          <ul class="chart nav nav-pills">
            <li class="" style="width: 96%;"><a href="#pro-spec-co" data-toggle="tab">$4.71 billion - Project-Specific Cofinancing   </a></li>
            <li class="" style="width: 4%;"><a href="#trust-fund-co" data-toggle="tab">$180.79 million - Trust Fund Cofinancing  </a></li>        
          </ul>
          <div class="chart-content tab-content">
            <div class="tab-pane body-tab" id="pro-spec-co">
              <div style="width: 96%;">
                <div class="dr-typeof">
                  <p><span class="dr-amount">$4.71 billion</span>
                    <span class="dr-cofin-type">Project-Specific Cofinancing </span>
                    <span class="dr-projects">54 Projects</span></p>

                </div>
                <p class="dr-percent">96%</p>
              </div>
            </div><!--/tab-1-->
            <div class="tab-pane body-tab" id="trust-fund-co">
              <div style="width: 100%;">
                <div class="dr-typeof">
                  <p><span class="dr-amount">$180.79 million</span>
                     <span class="dr-cofin-type">Trust Fund Cofinancing </span>
                     <span class="dr-projects">97 Projects</span></p>

                </div>
                <p class="dr-percent">4%</p>
              </div>
              
            </div><!--/tab-2-->               
            
          </div><!--/chart-content-->
        </div>
        
      </div>
      {{ "<!-- /tab content -->" | safeHTML }}
    </div>
  </div>
</section>