<section id="dr-where">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-9"><h3 class="dr-qt">Where <em>did the funds go?</em></h3></div>
  </div>
<div class="row py-lg-5">
  <div class="col-sm-3 dr-hl-side">

    {{ "<!-- side nav -->" | safeHTML }}
    <div class="nav flex-column nav-pills dr-side-nav" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="v-pills-dmc-tab" data-toggle="pill" href="#v-pills-dmc" role="tab" aria-controls="v-pills-dmc" aria-selected="true">by Developing Member Country</a>
      <a class="nav-link" id="v-pills-region-tab" data-toggle="pill" href="#v-pills-region" role="tab" aria-controls="v-pills-region" aria-selected="false">by Region</a>
      <a class="nav-link" id="v-pills-sector-tab" data-toggle="pill" href="#v-pills-sector" role="tab" aria-controls="v-pills-sector" aria-selected="true">by Sector</a>
    </div>

    {{ "<!-- /side nav -->" | safeHTML }}
  </div>
  <div class="col-sm-9 px-lg-5">
    {{ "<!-- tab content -->" | safeHTML }}
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-dmc" role="tabpanel" aria-labelledby="v-pills-dmc-tab">
        <p>Of the 148 cofinancing activities, 55 covered multiple DMCs. This was followed by 22 projects specifically for Mongolia, 10 for Indonesia, 9 for Pakistan, and 8 for India.  Volume-wise, the top 3 countries, each with cofinancing commitment going beyond half a mllion US$, were the Philippines, Indonesia, and India. Collectively, the cofinancing commitment for projects in these countries account for 41% of sovereign cofinancing for 2019.</p>


        <ul class="chart nav nav-pills">
          <li style="width: 41%;"><a href="#dmc-1" data-toggle="tab">$2.01 billion Philippines | 2 Projects</a></li>
          <li style="width: 12%;"><a href="#dmc-2" data-toggle="tab">$572.97 million Indonesia | 10 Projects</a></li>
          <li style="width: 11%;"><a href="#dmc-3" data-toggle="tab">$537.99 million India | 8 Projects</a></li>
          <li style="width: 8%;"><a href="#dmc-4" data-toggle="tab">$373.93 million Sri Lanka | 4 Projects</a></li>
          <li style="width: 5%;"><a href="#dmc-5" data-toggle="tab">$243.20 million Uzbekistan | 5 Projects</a></li>
          <li style="width: 4%;"><a href="#dmc-6" data-toggle="tab">$205.97 million People's Republic of China | 7 Projects</a></li>
          <li style="width: 4%;"><a href="#dmc-7" data-toggle="tab">$203.25 million Bangladesh | 3 Projects</a></li>
          <li style="width: 3%;"><a href="#dmc-8" data-toggle="tab">$167.23 million Mongolia | 11 Projects</a></li>
          <li style="width: 3%;"><a href="#dmc-9" data-toggle="tab">$141.22 million Regional | 55 Projects</a></li>
          <li style="width: 2%;"><a href="#dmc-10" data-toggle="tab">$92.35 million Pakistan | 9 Projects</a></li>
          <li style="width: 7%;"><a href="#dmc-11" data-toggle="tab">$334.80 million Others</a></li>
        </ul>

        <div class="chart-content tab-content">

          <div class="tab-pane body-tab" id="dmc-1" style="width: 40%;">

          <div class="dr-dmc">
            <p><span class="dr-amount">$2.01 billion</span>
              <span class="dr-country">Philippines</span>
              <span class="dr-projects">2 Projects</span></p>
          </div>
            <p class="dr-percent">41%</p>
          </div>

          <div class="tab-pane body-tab" id="dmc-2" style="width: 45%;">
            <div class="dr-dmc">
              <p><span class="dr-amount">$572.97 million</span>
                <span class="dr-country">Indonesia</span>
                <span class="dr-projects">10 Projects</span></p>
            </div>
            <p class="dr-percent">12%</p>
          </div>

          <div class="tab-pane body-tab" id="dmc-3" style="width: 60%;">
            <div class="dr-dmc">
              <p><span class="dr-amount">$537.99 million</span>
                <span class="dr-country">India </span>
                <span class="dr-projects"> 8 Projects</span></p>
            </div>
            <p class="dr-percent">11%</p>
          </div>

          <div class="tab-pane body-tab" id="dmc-4" style="width: 67%;">
            <div class="dr-dmc">
              <p><span class="dr-amount">$373.93 million</span>
              <span class="dr-country">Sri Lanka </span>
              <span class="dr-projects"> 4 Projects</span></p>
            </div>
            <p class="dr-percent">8%</p>
          </div>

          <div class="tab-pane body-tab" id="dmc-5"  style="width: 71%;">
            <div class="dr-dmc">
              <p><span class="dr-amount">$243.20 million</span> 
                <span class="dr-country">Uzbekistan</span>
                <span class="dr-projects">5 Projects</span></p>
            </div>
            <p class="dr-percent">5%</p>
          </div>

          <div class="tab-pane body-tab" id="dmc-6"  style="width: 77%;">
            <div class="dr-dmc">
              <p><span class="dr-amount">$205.97 million</span> 
                <span class="dr-country">People's Republic of China </span>
                <span class="dr-projects"> 7 Projects</span></p>
            </div>
            <p class="dr-percent">4%</p>
          </div>

          <div class="tab-pane body-tab" id="dmc-7"  style="width: 82%;">
            <div class="dr-dmc">
              <p><span class="dr-amount">$203.25 million</span>
              <span class="dr-country">Bangladesh </span>
              <span class="dr-projects"> 3 Projects</span></p>
            </div>
            <p class="dr-percent">4%</p>
          </div>

          <div class="tab-pane body-tab" id="dmc-8"  style="width: 86%;">
            <div class="dr-dmc">
              <p><span class="dr-amount">$167.23 million</span> 
                <span class="dr-country">Mongolia</span>
                <span class="dr-projects">11 Projects</span></p>
            </div>
            <p class="dr-percent">3%</p>
          </div>

          <div class="tab-pane body-tab" id="dmc-9"  style="width: 91%;">
            <div class="dr-dmc">
              <p><span class="dr-amount">$141.22 million</span> 
                <span class="dr-country">Regional </span>
                <span class="dr-projects"> 55 Projects</span></p>
            </div>
            <p class="dr-percent">3%</p>
          </div>

          <div class="tab-pane body-tab" id="dmc-10"  style="width: 94%;">
            <div class="dr-dmc">
              <p><span class="dr-amount">$92.35 million</span> 
                <span class="dr-country">Pakistan</span>
                <span class="dr-projects">9 Projects</span></p>
            </div>
            <p class="dr-percent">2%</p>
          </div>

          <div class="tab-pane body-tab" id="dmc-11"  style="width: 96%;">
            <div class="dr-dmc">
              <p><span class="dr-amount">$334.80 million</span>
                <span class="dr-country"> Others</span>
                <span class="dr-projects">FIJ, GEO, TON, TAJ, PNG, VIE, SOL, CAM, TUV, MYA, LAO, MLD, AZE, TIM, NEP</span></p>
            </div>
            <p class="dr-percent">7%</p>
          </div>
          
        </div><!--/chart-content-->
      </div>
      <div class="tab-pane fade" id="v-pills-region" role="tabpanel" aria-labelledby="v-pills-region-tab">
        
        <ul class="chart nav" id="region-chart">
          <li style="width: 54%;"><a href="#region-1" data-target=".region-1, .regionc-1" data-toggle="tab">$2.66 billion - Southeast Asia | 33 Projects</a></li>
          <li style="width: 23%;"><a href="#region-2" data-target=".region-2, .regionc-2" data-toggle="tab">$1.12 billion - South Asia | 22 Projects</a></li>
          <li style="width: 9%;"><a href="#region-3" data-target=".region-3, .regionc-3" data-toggle="tab">$442.15 million - Central and West Asia | 22 projects</a></li>
          <li style="width: 8%;"><a href="#region-4" data-target=".region-4, .regionc-4" data-toggle="tab">$376.12 million - East Asia | 22 projects</a></li>
          <li style="width: 4%;"><a href="#region-5" data-target=".region-5, .regionc-5" data-toggle="tab">$206.13 million - Pacific | 20 projects</a></li>
          <li style="width: 2%;"><a href="#region-6" data-target=".region-6, .regionc-6" data-toggle="tab">$84.12 million - Across Regions | 30 projects </a></li>
          
        </ul>
        <div class="chart-content region-chart tab-content">
          <div class="tab-pane fade body-tab region-1" id="region-1">
            <div class="row">
              <div class="dr-region">
                <p><span class="dr-amount">$2.66 billion</span> 
                  <span  class="dr-area">Southeast Asia</span> 
                  <span class="dr-projects">33 Projects</span></p>
              </div>
              <p class="dr-percent">54%</p>
            </div>
            <div class="row py-5">
              <div class="col-md-6">
                <img src="{{ `images/serd.png` | absURL }}" alt="">
              </div>
              <div class="col-md-6">
                <img src="{{ `images/serd2.png` | absURL }}" alt="">
              </div>
            </div>
            <div class="row py-5">
              <div class="col-md-6">
                <img src="{{ `images/serd3.png` | absURL }}" alt="">
              </div>
              <div class="col-md-6">
                <img src="{{ `images/serd4.png` | absURL }}" alt="">
              </div>
            </div>
          </div>

          <div class="tab-pane fade body-tab region-2" id="region-2">
            <div class="row">
              <div style="width: 65%;">
              <div class="dr-region">
                <p><span class="dr-amount">$1.12 billion</span> 
                  <span  class="dr-area">South Asia</span> 
                  <span class="dr-projects">22 Projects</span></p>
              </div>
              <p class="dr-percent">23%</p>
            </div>
            </div>
            <div class="row py-5">
              <div class="col-md-6">
                <img src="{{ `images/sard.png` | absURL }}" alt="">
              </div>
              <div class="col-md-6">
                <img src="{{ `images/sard2.png` | absURL }}" alt="">
              </div>
            </div>
            <div class="row py-5">
              <div class="col-md-6">
                <img src="{{ `images/sard3.png` | absURL }}" alt="">
              </div>
              <div class="col-md-6">
                <img src="{{ `images/sard4.png` | absURL }}" alt="">
              </div>
            </div>

          </div>

          <div class="tab-pane fade body-tab region-3" id="region-3">
            <div class="row">
              <div style="width: 80%;">
                <div class="dr-region">
                  <p><span class="dr-amount">$442.15 million</span> 
                    <span  class="dr-area">Central and West Asia</span> 
                    <span class="dr-projects">projects</span></p>
                </div>
                <p class="dr-percent">9%</p>
              </div>
          </div>
            <div class="row py-5">
              <div class="col-md-6">
                <img src="{{ `images/cwrd.png` | absURL }}" alt="">
              </div>
              <div class="col-md-6">
                <img src="{{ `images/cwrd2.png` | absURL }}" alt="">
              </div>
            </div>
            <div class="row py-5">
              <div class="col-md-6">
                <img src="{{ `images/cwrd3.png` | absURL }}" alt="">
              </div>
              <div class="col-md-6">
                <img src="{{ `images/cwrd4.png` | absURL }}" alt="">
              </div>
            </div>
          </div>

          <div class="tab-pane fade body-tab region-4" id="region-4">
            <div class="row">
            <div style="width: 89%;">
              <div class="dr-region">
                <p><span class="dr-amount"></span>$376.12 million 
                  <span  class="dr-area">East Asia </span>
                  <span class="dr-projects">22 projects</span></p>
              </div>
              <p class="dr-percent">8%</p>
            </div>
          </div>
            <div class="row py-5">
              <div class="col-md-6">
                <img src="{{ `images/eard.png` | absURL }}" alt="">
              </div>
              <div class="col-md-6">
                <img src="{{ `images/eard2.png` | absURL }}" alt="">
              </div>
            </div>
            <div class="row py-5">
              <div class="col-md-6">
                <img src="{{ `images/eard3.png` | absURL }}" alt="">
              </div>
              <div class="col-md-6">
                <img src="{{ `images/eard4.png` | absURL }}" alt="">
              </div>
            </div>
          </div>

          <div class="tab-pane fade body-tab region-5" id="region-5">
            <div class="row">
            <div style="width: 97%;">
              <div class="dr-region">
                <p><span class="dr-amount">$206.13 million</span>
                  <span  class="dr-area">Pacific</span> 
                <span class="dr-projects">20 projects</span></p>
              </div>
              <p class="dr-percent">4%</p>
            </div>
          </div>
            <div class="row py-5">
              <div class="col-md-6">
                <img src="{{ `images/pard.png` | absURL }}" alt="">
              </div>
              <div class="col-md-6">
                <img src="{{ `images/pard2.png` | absURL }}" alt="">
              </div>
            </div>
            <div class="row py-5">
              <div class="col-md-6">
                <img src="{{ `images/pard3.png` | absURL }}" alt="">
              </div>
              <div class="col-md-6">
                <img src="{{ `images/pard4.png` | absURL }}" alt="">
              </div>
            </div>
          </div>

          <div class="tab-pane fade body-tab region-6" id="region-6">
            <div class="row">
            <div style="width: 98%;">
              <div class="dr-region">
                <p><span class="dr-amount"></span>$84.12 million 
                  <span  class="dr-area">Across Regions</span> 
                  <span class="dr-projects">30 projects</span></p>
                <p>Includes: ERCD, PPFD, OCRP, OPPP, SDCC and SPD</p>
              </div>
              <p class="dr-percent">2%</p>
            </div>
            </div>
            <div class="row py-5">
              <div class="col-md-6">
                <img src="{{ `images/reg.png` | absURL }}" alt="">
              </div>
              <div class="col-md-6">
                <img src="{{ `images/reg3.png` | absURL }}" alt="">
              </div>
            </div>
            <div class="row py-5">
              <div class="col-md-6">
                <img src="{{ `images/reg4.png` | absURL }}" alt="">
              </div>
              <div class="col-md-6"></div>
            </div>
          </div>

          
          
        </div><!--/chart-content-->
      </div>
      <div class="tab-pane fade" id="v-pills-sector" role="tabpanel" aria-labelledby="v-pills-sector-tab">
        <p>The top 3 sectors and themes account for 89% of sovereign cofinancing in 2019. They were also the same sectors and themes that garnered the most cofinancing in 2018.</p>

        <ul class="chart nav nav-pills">
          <li style="width: 55%;"><a href="#sector-1" data-toggle="tab">$2.76 billion - Transport | 17 projects </a></li>
          <li style="width: 18%;"><a href="#sector-2" data-toggle="tab">$894.63 million - Energy | 26 projects </a></li>
          <li style="width: 15%;"><a href="#sector-3" data-toggle="tab">$716.89 million - Public Sector Management | 19 projects </a></li>
          <li style="width: 5%;"><a href="#sector-4" data-toggle="tab">$228.22 million - Finance | 14 projects</a></li>
          <li style="width: 4%;"><a href="#sector-5" data-toggle="tab">$171.53 million - Water and Other Urban Ifrastructure and Services | 25 projects</a></li>
          <li style="width: 3%;"><a href="#sector-6" data-toggle="tab">$140.34 million - Others</a></li>
        </ul>

        <div class="chart-content tab-content">

          <div class="tab-pane" id="sector-1">

            <div style="width: 50%;">

              <div class="dr-sectors">
                <p><span class="dr-amount">$2.76 billion</span> 
                  <span class="dr-sector">Transport </span>
                  <span class="dr-projects">17 projects</span> </p>
              </div>
              <p class="dr-percent">56%</p>

            </div>

            

          </div>

          <div class="tab-pane" id="sector-2">

            <div style="width: 65%;">
              <div class="dr-sectors">
                <p><span class="dr-amount">$894.63 million</span>
                <span class="dr-sector">Energy </span>
                <span class="dr-projects"> 26 projects</span> </p>
              </div>
              <p class="dr-percent">18%</p>
            </div>
            

          </div>

          <div class="tab-pane" id="sector-3">

            <div style="width: 80%;">
              <div class="dr-sectors">
                <p><span class="dr-amount">$716.89 million</span> 
                <span class="dr-sector">Public Sector Management </span>
                <span class="dr-projects"> 19 projects</span> </p>
              </div>
              <p class="dr-percent">15%</p>
              
            </div>
          </div>

          <div class="tab-pane" id="sector-4">
            <div style="width: 89%;">
              <div class="dr-sectors">
                <p><span class="dr-amount">$228.22 million</span>
                  <span class="dr-sector">Finance</span> 
                  <span class="dr-projects"> 14 projects</span></p>
              </div>
              <p class="dr-percent">5%</p>
              
            </div>
          </div>

          <div class="tab-pane" id="sector-5">
            <div style="width: 97%;">
              <div class="dr-sectors">
                <p><span class="dr-amount">$171.53 million</span> 
                <span class="dr-sector">Water and Other Urban Infrastructure and Services</span> <span class="dr-projects"> 25 projects</span></p>
              </div>
              <p class="dr-percent">4%</p>
              
            </div>
          </div>

          <div class="tab-pane" id="tab-6">
            <div style="width: 98%;">
              <div class="dr-sectors">
                <p><span class="dr-amount">$140.34 million</span> 
                  <span class="dr-sector">Others</span> </p>

                <p><strong>$49.90 m</strong> Health<br /><strong>$46.00 m</strong> Multisector<br /> 
                  <strong>$23.65 m</strong> Agriculture, Natural Resources and Rural Development<br /> 
                  <strong>$8.68 m</strong> Education<br /> 
                  <strong>$8.13 m</strong>  Industry and Trade<br /> 
                  <strong>$3.98 m</strong> Information and Communication Technology<br /></p>
              </div>
              <p class="dr-percent">3%</p>
              
            </div>
          </div>
</div><!--/chart-content-->
      </div>
    </div>
    {{ "<!-- /tab content -->" | safeHTML }}
  </div>
</div>
</section>