{{ define "main" }}

{{- partial "hero.html" . -}}
<!-- Content
============================================= -->
<section id="content">
    <div class="content-wrap">

        <div class="container clearfix">
            <div class="row clearfix">

                <div class="col">
                    <div class="heading-block topmargin">
                        <h1>Donor Report 2019</h1>
                    </div>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu enim rutrum, egestas dui non, lacinia tellus. Maecenas sapien massa, venenatis a purus a, porta molestie felis.</p>
                </div>


            </div>
        </div>
    </div>
</section><!-- #content end -->
{{ end }}