<section id="dr-sf-svl" class="py-5 dr-sf-chart">
    
    <div class="row py-lg-5">
      <div class="col-sm-3 dr-chart-side">
        <h6>Blended Finance Facilities 
          <br><em>$834.7 million</em></h6>
      </div>
      <div class="col-sm-9 px-lg-5">

        <ul class="chart nav nav-pills">
            <li class="" style="width: 50%;"><a href="#nso-non" data-toggle="tab">
              <span class="bar" style="width: 30%; background-color: #a7e0e7;">CTF Private Sector Geothermal Energy Program  <strong>(2013)</strong></span>
              <span class="bar" style="width: 25%; background-color: #93d9e2;">Australian Climate Finance Partnership  <strong>(2020)</strong></span>
              <span class="bar" style="width: 25%; background-color: #80d1dd;">CTF Thailand Private Sector Renewable Energy Program  <strong>(2012)</strong></span>
              <span class="bar" style="width: 8%; background-color: #6fcad7;">CTF Integrated Renewable Energy and Energy Program  <strong>(2018)</strong></span>
              <span class="bar" style="width: 6%; background-color: #60c2d1;">CTF Sustainable and Energy Efficient Transport Sub-Program <strong>(2019)</strong></span>
              <span class="bar" style="width: 3%; background-color: #4db4c6;">CTF Renewable Energy Mini-grids and Distributed Power Generation <strong>(2014)</strong></span>
              <span class="bar" style="width: 1%; background-color: #54bbcb;">CTF PSPM III Business Development Facility  <strong>(2018)</strong></span>
            </a></li>
            <li class="" style="width: 50%;"><a href="#nso-adb" data-toggle="tab">
              <span class="bar" style="width: 20%; background-color: #e88468;">Canadian Climate Fund for the Private Sector in Asia <strong>(2013)</strong></span>
              <span class="bar" style="width: 30%; background-color: #e17556;">Canadian Climate Fund for the Private Sector in Asia II <strong>(2017)</strong></span>
              <span class="bar" style="width: 50%; background-color: #db5c3a;">Leading Asia's Private Infrastructure (LEAP) Fund - non-parallel <strong>(2016)</strong></span>
            </a></li>
          </ul>
          <div class="chart-content tab-content">
            <div class="tab-pane body-tab" id="nso-non">
              <div style="width: 96%;">
                <div class="item" style="">CTF Private Sector Geothermal Energy Program  <strong>(2013)</strong></div>
                <div class="item" style="">Australian Climate Finance Partnership  <strong>(2020)</strong></div>
                <div class="item" style="">CTF Thailand Private Sector Renewable Energy Program  <strong>(2012)</strong></div>
                <div class="item" style="">CTF Integrated Renewable Energy and Energy Program  <strong>(2018)</strong></div>
                <div class="item" style="">CTF Sustainable and Energy Efficient Transport Sub-Program <strong>(2019)</strong></div>
                <div class="item" style="">CTF Renewable Energy Mini-grids and Distributed Power Generation <strong>(2014)</strong></div>
                <div class="item" style="">CTF PSPM III Business Development Facility  <strong>(2018)</strong></div>
                <p> <strong> Non-ADB Administered</strong></p>
              </div>
            </div><!--/tab-1-->

            <div class="tab-pane body-tab" id="nso-adb">
              <div style="width: 100%;">
                <div class="item" style="">Canadian Climate Fund for the Private Sector in Asia <strong>(2013)</strong></div>
                <div class="item" style="">Canadian Climate Fund for the Private Sector in Asia II <strong>(2017)</strong></div>
                <div class="item" style="">Leading Asia's Private Infrastructure (LEAP) Fund - non-parallel <strong>(2016)</strong></div>
                <p><strong> ADB Administered</strong></p>
              </div>
            </div><!--/tab-2-->

          </div>

       
      </div>
    </div>
  </section>