<section id="dr-sf-svl" class="py-5 dr-sf-chart">
    
    <div class="row py-lg-5">
      <div class="col-sm-2 dr-chart-side">
        <h6>Short- vs Long-Term Nonsovereign Cofinancing <em>2019</em></h6>
      </div>
      <div class="col-sm-10 px-lg-5">

        <ul class="chart nav nav-pills">
            <li class="" style="width: 44%;"><a href="#st" data-toggle="tab">
              <span class="bar" style="width: 6%; background-color: #a7e0e7;">$182 million <strong>B Loans</strong></span>
              <span class="bar" style="width: 4%; background-color: #93d9e2;">$138 million <strong>Guarantee Cofinancing</strong></span>
              <span class="bar" style="width: 16%; background-color: #80d1dd;">$585 million <strong>Parallel Equity</strong></span>
              <span class="bar" style="width: 48%; background-color: #6fcad7;">$1.67 billion <strong>Parallel Loan</strong></span>
              <span class="bar" style="width: 18%; background-color: #60c3d1;">$649 million <strong>Risk Transfer</strong></span>
              <span class="bar" style="width: 5%; background-color: #4db4c6;" background-color: #a7e0e7;>$187 million <strong>Official Cofinancing</strong></span>
            </a></li>
            <li class="" style="width: 42%;"><a href="#lt" data-toggle="tab">
              <span class="bar" style="width: 4%; background-color: #ec6c48;">$59 million <strong>SCFP</strong></span>
              <span class="bar" style="width: 96%; background-color: #db5c3a;">$3.50 billion <strong>TFP</strong></span>
            </a></li>
            <li class="total" style="width: 14%;"><a href="#tf" data-toggle="tab">$6.97 billion</a></li>
          </ul>
          <div class="chart-content tab-content ">
            <div class="tab-pane body-tab" id="st">
              <div style="width: 96%;">
                <div class="item" style="">$182 million <strong>B Loans</strong></div>
                <div class="item" style="">$138 million <strong>Guarantee Cofinancing</strong></div>
                <div class="item" style="">$585 million <strong>Parallel Equity</strong></div>
                <div class="item" style="">$1.67 billion <strong>Parallel Loan</strong></div>
                <div class="item" style="">$649 million <strong>Risk Transfer</strong></div>
                <div class="item" style="">$187 million <strong>Official Cofinancing</strong></div>
                <p>Short-Term Nonsovereign Cofinancing</p>
              </div>
            </div><!--/tab-1-->

            <div class="tab-pane body-tab" id="lt">
              <div style="width: 100%;">
                <div class="item" style="">$59 million <strong>SCFP</strong></div>
                <div class="item" style="">$3.50 billion <strong>TFP</strong></div>
                <p>Long-Term Nonsovereign Cofinancing</p>
              </div>
            </div><!--/tab-2-->

          </div>

       
      </div>
    </div>
  </section>