{{ $fca := $.Page.Params.fca }}
{{$first := index ($.Page.Params.fca) 0 }}

<section id="dr-fca">
<div class="row justify-content-md-center py-5">
  <div class="col-md-4">
    <h5>Framework Cofinancing Arrangements</h5>
    <div class="dr-side-nav">
      <ul>
      {{ range $fca }}
        <li>{{ .name }}</li>
      {{ end }}
      </ul>
    </div>
  </div>
  <div class="col-md-8">
    <h3>ADB'S ACTIVE FCAs FOR 2019</h3>
    {{ range $fca }}
      <div class="dr-mod-partner dr-fca" id="dr-{{ .id }}">
        {{ with .image }} <img src="./images/modalities/{{ . }}" alt="">{{ end }}

        <h5>{{ .name }}</h5>

        {{ with .mou }}
        <div class="dr-stat">
          <h6>Memorandum of Understanding</h6>
          <p>{{ . }}</p>
        </div>
        {{ end }}

        {{ with .pfa }}
        <div class="dr-stat">
          <h6>Partnership Framework Arrangement</h6>
          <p>{{ . }}</p>
        </div>
        {{ end }}

        {{ with .fca }}
        <div class="dr-stat">
          <h6>Framework Cofinancing Agreement</h6>
          <p>{{ . }}</p>
        </div>
        {{ end }}

        {{ with .ccp }}
        <div class="dr-stat">
          <h6>Cumulative Commitment for Projects</h6>
          <p>{{ . }}</p>
        </div>
        {{ end }}

        {{ $markdown := .description | markdownify }}
        {{ if not ( strings.Contains $markdown "<p>" ) }}
            <p>{{ $markdown }}</p>
        {{ else }}
            {{ $markdown }}
        {{ end }}
        
      </div>
      {{ end }}
    

  </div>
</div>
</section>