{{ $fca := $.Page.Params.fca }}
{{$first := index ($.Page.Params.fca) 0 }}

<section id="dr-fca">
  <div class="row justify-content-md-center pt-lg-5">
    <div class="col">
      <h3>ACTIVE PARTNERSHIP FRAMEWORK AGREEMENTS IN 2019</h3>
    </div>
  </div>
<div class="row justify-content-md-center py-5">
  <div class="col-md-4 sticky-sidebar-wrap clearfix" data-offset-top="100">
    <div class="sidebar-widgets-wrap">
      <ul class="sticky-sidebar">
      {{ range $fca }}
        <li><a href="#{{ .id }}" data-scrollto="#{{ .id }}">{{ .name }}</a> </li>
      {{ end }}
      </ul>
    </div>
  </div>
  <div class="col-md-7 offset-md-1">
    {{ range $fca }}
      <div class="dr-mod-partner dr-fca" id="{{ .id }}">
        {{ with .image }} <img src="./images/modalities/{{ . }}" alt="">{{ end }}

        {{ with .url }}<a href="{{ . }}">{{ end }}<h5>{{ .name }}</h5>{{ with .url }}</a>{{ end }}

        {{ with .mou }}
        <div class="dr-stat">
          <h6>Memorandum of Understanding</h6>
          <p>{{ . }}</p>
        </div>
        {{ end }}

        {{ with .pfa }}
        <div class="dr-stat">
          <h6>Partnership Framework Arrangement</h6>
          <p>{{ . }}</p>
        </div>
        {{ end }}

        {{ with .fca }}
        <div class="dr-stat">
          <h6>Framework Cofinancing Agreement</h6>
          <p>{{ . }}</p>
        </div>
        {{ end }}

        
        <div class="dr-stat">
          {{ with .ccp }}<h6>Cumulative Commitment for Projects</h6>
          <p>{{ . }}</p>{{ end }}
          <p class="dr-fn">{{ .ccpfn }}</p>
        </div>
        

        {{ $markdown := .description | markdownify }}
        {{ if not ( strings.Contains $markdown "<p>" ) }}
            <p>{{ $markdown }}</p>
        {{ else }}
            {{ $markdown }}
        {{ end }}
        
      </div>
      {{ end }}
    

  </div>
</div>
</section>