{{ $gf := $.Page.Params.gf }}
<section class="dr-gf">
  <div class="row justify-content-md-center pt-lg-5">
    <div class="col">
      <h3>Global Funds with Active Projects In 2019</h3>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-md-4 sticky-sidebar-wrap clearfix" data-offset-top="100">
      <div class="sidebar-widgets-wrap">
        <ul class="sticky-sidebar">  
          {{ range $gf }}
          <li><a href="#{{ .id }}" data-scrollto="#{{ .id }}">{{ .name }}</a> </li>
          {{ end }}
        </ul>
      </div>
    </div>
    <div class="col-md-7 offset-md-1">
      {{ range $gf }}
        <div class="dr-mod-partner dr-gf" id="{{ .id }}">
          {{ with .image }} <img src="./images/modalities/{{ . }}" alt="">{{ end }}

          <h5><a href="{{ .url }}" target="_blank">{{ .name }}</a></h5>

          <div class="dr-stat mb-2">
            <h6>Cumulative contribution to project-specific cofinancing</h6>
            <p>{{ .ccpsc }}</p>
            {{ with .ccpscfn }}<p class="dr-fn">{{ . }}</p> {{ end }}
          </div>

          {{ $markdown := .description | markdownify }}
          {{ if not ( strings.Contains $markdown "<p>" ) }}
              <p>{{ $markdown }}</p>
          {{ else }}
              {{ $markdown }}
          {{ end }}
          
        </div>
        {{ end }}

      

    </div>
  </div>
</section>