{{ $tf := $.Page.Params.tf }}
<div class="clear"></div>
<section id="dr-sptf" class="clearfix">
  <div class="row justify-content-md-center pt-lg-5">
    <div class="col">
      <h3>Single Partner Trust Funds <em>with active projects in 2019</em></h3>
    </div>
  </div>
<div class="row justify-content-md-center">
  <div class="col-md-4 sticky-sidebar-wrap clearfix" data-offset-top="100">
    <div class="sidebar-widgets-wrap">
      <ul class="sticky-sidebar">
      {{ range where $tf ".type" "single" }}
        <li><a href="#{{ .id }}" data-scrollto="#{{ .id }}">{{ .name }} ({{ .year }})</a> </li>
      {{ end }}
      </ul>
    </div>
  </div>
  <div class="col-md-7 offset-md-1">
    {{ range where $tf ".type" "single" }}
    <div id="{{ .id }}" class="dr-mod-partner dr-sptf">
    <h5>{{ .name }} ({{ .year }})</h5>

    {{ with .tcc }}
    <div class="dr-stat">
      <h6>Total Contributions Committed</h6>
      <p>{{ . }}</p>
    </div>
    {{ end }}

    
    <div class="dr-stat">
      {{ with .cfp }}<h6>Committed for Projects</h6>
      <p>{{ . }}</p>{{ end }}
      {{ with .sa }}<h6>Scholars Awarded</h6>
      <p>{{ . }}</p>{{ end }}
      {{ with .cfpfn }}<p class="dr-fn">{{ . }}</p>{{ end }} 
    </div>
         
    <div class="dr-stat">
      {{ $contributor := .contributor }}
      <h6>{{ cond (eq (len $contributor) 1) "Contributor" "Contributors" }}</h6>
      <ul class="dr-funding">
        {{ range .contributor }}<li>{{ .partner  | markdownify }}</li>{{ end }}
      </ul>
    </div>

    {{ $markdown := .description | markdownify }}
    {{ if not ( strings.Contains $markdown "<p>" ) }}
        <p>{{ $markdown }}</p>
    {{ else }}
        {{ $markdown }}
    {{ end }}
        
  </div>
  {{ end }}

      
  </div>
</div>
</section>

