{{ $tf := $.Page.Params.tf }}
{{ $contributor := $.Page.Params.contributor }}
<section class="dr-tf">
<div class="row justify-content-md-center">
  <div class="col-md-4">
    <div class="nav flex-column nav-pills dr-side-nav" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      {{ range where $tf ".type" "single" }}
      <a class="nav-link" id="dr-{{ .id }}-tab" data-toggle="pill" href="#dr-{{ .id }}" role="tab" aria-controls="v-pills-home" aria-selected="true">{{ .name }}</a>
      {{ end }}
    </div>
  </div>
  <div class="col-md-8">
    
    <div class="tab-content" id="v-pills-tabContent">
      {{ range where $tf ".type" "single" }}
      <div class="tab-pane fade dr-mod-partner" id="dr-{{ .id }}" role="tabpanel" aria-labelledby="dr-{{ .id }}-tab">
        <h5>{{ .name }}</h5>

        {{ with .tfp }}
        <div class="dr-stat">
          <h6>Memorandum of Understanding</h6>
          <p>{{ . }}</p>
        </div>
        {{ end }}

        {{ with .cfp }}
        <div class="dr-stat">
          <h6>Partnership Framework Arrangement</h6>
          <p>{{ . }}</p>
        </div>
        {{ end }}

        {{ with $contributor }}
        <div class="dr-stat">
          <h6>Framework Cofinancing Agreement</h6>
          <p>{{ .partner }}</p>
        </div>
        {{ end }}

        {{ with .ccp }}
        <div class="dr-stat">
          <h6>Cumulative Commitment for Projects</h6>
          <p>{{ . }}</p>
        </div>
        {{ end }}

        {{ $markdown := .description | markdownify }}
        {{ if not ( strings.Contains $markdown "<p>" ) }}
            <p>{{ $markdown }}</p>
        {{ else }}
            {{ $markdown }}
        {{ end }}
        
      </div>
      {{ end }}
    </div>

  </div>
</div>
</section>