<!DOCTYPE html>
<html dir="ltr" lang="en-US">
	{{- partial "head.html" . -}}

<body class="stretched">
	{{ "<!-- Document Wrapper -->" | safeHTML }}
	
	<div id="wrapper" class="clearfix">
		{{ "<!-- Header -->" | safeHTML }}
		
		<header id="header" class="full-header" data-sticky-class="not-dark">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="https://www.adb.org/" class="standard-logo" data-dark-logo="images/logo-dark.png"><img src="images/logo.png" alt="Asian Development Bank"></a>
						<a href="https://www.adb.org/" class="retina-logo" data-dark-logo="images/logo-dark@2x.png"><img src="images/logo@2x.png" alt="Asian Development Bank"></a>
					</div><!-- #logo end -->

					<!-- Primary Navigation
					============================================= -->
					{{- partial "navigation.html" . -}}
					<!-- #primary-menu end -->

				</div>

			</div>

		</header><!-- #header end -->

		{{ block "main" . }}
		<!-- The part of the page that begins to differ between templates -->
    

		{{ end }}
		
		<!-- Footer
		============================================= -->
		{{- partial "footer.html" . -}}

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script src="{{ `js/jquery.js` | absURL }}"></script>
	<script src="{{ `js/plugins.js` | absURL }}"></script>

	<!-- Footer Scripts
	============================================= -->
	<script src="{{ `js/functions.js` | absURL }}"></script>

</body>
</html>