<!DOCTYPE html>
<html dir="ltr" lang="en-US">
	{{- partial "head.html" . -}}
	{{$section := .Section}}
<body id="dr-{{$section}}" class="stretched">
	{{ "<!-- Google Tag Manager (noscript) -->" | safeHTML }}
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T2CG99"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	{{ "<!-- End Google Tag Manager (noscript) -->" | safeHTML }}

	{{ "<!-- Document Wrapper -->" | safeHTML }}
	
	<div id="wrapper" class="clearfix">
		{{ "<!-- Header -->" | safeHTML }}
		
		<header id="header" class="full-header" data-sticky-class="not-dark">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="{{ .Site.BaseURL }}" class="standard-logo"><img src="{{ `./images/logo.png` | relURL }}" alt="Asian Development Bank"></a>
						<a href="{{ .Site.BaseURL }}" class="retina-logo"><img src="{{ `./images/logo@2x.png` | relURL }}" alt="Asian Development Bank"></a>
					</div><!-- #logo end -->

					<!-- Primary Navigation
					============================================= -->
					{{- partial "navigation.html" . -}}
					<!-- #primary-menu end -->

				</div>

			</div>

		</header>
		{{ "<!-- #header end -->" | safeHTML }}

		{{ "<!-- Content -->" | safeHTML }}
		
		<section id="content" class="clearfix">
			
			<div class="content-wrap">
			{{ if not .IsHome }}{{- partial "breadcrumb.html" . -}}{{ end }}	
			{{ block "main" . }}

			<!-- The part of the page that begins to differ between templates -->
		
			{{ end }}
			</div>
		</section><!-- #content end -->
		
		<!-- Footer
		============================================= -->
		{{- partial "footer.html" . -}}

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script src="{{ `js/jquery.js` | relURL }}"></script> 
	<script src="{{ `js/plugins.js` | relURL }}"></script>

	
	{{$section := .Section}}
	{{ if eq $section "projects" | or $section "overview" }}
	<script src="{{ `js/tooltipster.bundle.js` | relURL }}"></script>
  <script>
    $(document).ready(function() {
      $('.maptooltip').tooltipster({
      	interactive: true,
        contentAsHTML: true, 
        theme: 'tooltipster-shadow',
        trigger:"custom",
        triggerOpen: {
          click: true,  // For mouse
          tap: true    // For touch device
        },
        triggerClose: {
          click: true,  // For mouse
          tap: true    // For touch device
        }

      });
    });
	</script>
	{{ end }}

	<!-- Footer Scripts
	============================================= -->
	<script src="{{ `js/functions.js` | relURL }}"></script>

	{{ if eq $section "projects" }}
	<!-- Map Scripts
	============================================= -->
	<script src="{{ `js/accordion.js` | relURL }}"></script>
	<script>
		new Accordion('.reg-container'); 
		new Accordion('.azerbaijan-container');
		new Accordion('.georgia-container');
		new Accordion('.cambodia-container');
		new Accordion('.china-container');
		new Accordion('.laos-container');
		new Accordion('.fiji-container');
		new Accordion('.maldives-container');
		new Accordion('.mongolia-container');
		new Accordion('.myanmar-container');
		new Accordion('.nepal-container');
		new Accordion('.pakistan-container');
		new Accordion('.ph-container');
		new Accordion('.papua-container');
		new Accordion('.solomon-container');
		new Accordion('.taji-container');
		new Accordion('.timor-container');
		new Accordion('.tonga-container');
		new Accordion('.tuvalu-container');
		new Accordion('.viet-container');
		new Accordion('.bang-container');
		new Accordion('.sri-container');
		new Accordion('.uzbek-container');
		new Accordion('.india-container');
		new Accordion('.indo-container');
	</script>
	{{ end }}


	{{ if eq $section "private-sector" }}
	<!-- Map Scripts
	============================================= -->
	<script src="{{ `js/accordion.js` | relURL }}"></script>
	<script>
		new Accordion('#comcof .nsov-projects');
		new Accordion('#ofcof .nsov-projects'); 
		new Accordion('#sa .nsov-projects');
		new Accordion('#sea .nsov-projects');
	</script>
	{{ end }}

	<script>
    $(document).ready(function() {
      $('.tooltipper').tooltipster({
        interactive: true,
        contentAsHTML: true, 
        side: ['left', 'bottom', 'top', 'right'],
        

        
        theme: 'tooltipster-shadow',
        trigger:"custom",
        triggerOpen: {
          click: true,  // For mouse
          tap: true    // For touch device
        },
        triggerClose: {
          click: true,  // For mouse
          tap: true    // For touch device
        }

      });
    });
  </script>



	<script>
		
		$('.chart.nav.nav-pills > li > a').hover(function() {
			$(this).tab('show');
			});

			$('.chart.nav.nav-pills > li > a').mouseleave(function(){
			$(this).removeClass("active");
			$('.body-tab').removeClass("active");

		});

		$('#nsov-projs a').on('click', function (e) {
			e.preventDefault()
			$(this).tab('show')
		})

		$(document).ready(function() {
			$('#region-chart a').click(function() {
				var href = $(this).attr('href');
				var num = href.split("-")[1];
					$('.region-chart .tab-pane').css('display', 'none');
					$("[class^='region-'][class^='regionc-']").removeClass('show');
					$(".region-"+num).css('display', 'block');
					$(".regionc-"+num).css('display', 'block');
					$(".region-"+num).addClass('show');
					$(".regionc-"+num).addClass('show');
			});
			$('#dmc a').click(function() {
				var href = $(this).attr('href');
				var num = href.split("-")[1];
					$('.dmc-chart .tab-pane').css('display', 'none');
					$("[class^='dmc-'][class^='dmcc-']").removeClass('show');
					$(".dmc-"+num).css('display', 'block');
					$(".dmcc-"+num).css('display', 'block');
					$(".dmc-"+num).addClass('show');
					$(".dmcc-"+num).addClass('show');
			});
			
		});
	</script>


	<!-- AddToAny BEGIN -->
<div class="a2a_kit a2a_kit_size_32 a2a_floating_style a2a_vertical_style" style="right:0px; top:150px;" data-a2a-url="http://www.adb.org/pr2019" data-a2a-title="Partnership Report 2019" data-a2a-scroll-show="300">
	<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
	<a class="a2a_button_facebook"></a>
	<a class="a2a_button_twitter"></a>
	<a class="a2a_button_email"></a>
	<a class="a2a_button_linkedin"></a>
	<a class="a2a_button_whatsapp"></a>
	<a class="a2a_button_telegram"></a>
	<a class="a2a_button_viber"></a>
	</div>
	<script async src="https://static.addtoany.com/menu/page.js"></script>
	<!-- AddToAny END -->
	
</body>
</html>