{{ define "main" }}

<div class="container clearfix">
  {{- partial "sectiontitle.html" . -}}
  <div class="row">
   
      <div class="col-sm-4 dr-partner-group">
        <h4>Bilateral</h4>
        <ul class="">
          {{ range where .Site.Pages.ByTitle "Params.partner_type" "Bilateral" }}
          {{ $partner := .Params.partner_type }}
          <li>
            <a href="{{.Permalink}}">{{.Title}}</a>
          </li>
          {{ end }}
        </ul>
      </div>
      
      <div class="col-sm-4 dr-partner-group">
        <h4>Multilateral</h4>
        <ul class="">
          {{ range where .Site.Pages.ByTitle "Params.partner_type" "Multilateral" }}
          <li>
            <a href="{{.Permalink}}">{{.Title}}</a>
          </li>
          {{ end }}
        </ul>
      </div>

      <div class="col-sm-4 dr-partner-group">
        <h4>Other Concessional Partners</h4>
        <ul class="">
          {{ range where .Site.Pages.ByTitle "Params.partner_type" "Others" }}
          <li>
            <a href="{{.Permalink}}">{{.Title}}</a>
          </li>
          {{ end }}
        </ul>
      </div>
  </div>
</div>

{{ end }}
