{{ define "main" }}

<div class="container clearfix dr-article-body">
  {{- partial "sectiontitle.html" . -}}
  <div class="row">
    <div class="col">
      <h3>{{ .Page.Param "why_text" }}</h3>
      <ul class="dr-why-partner">
        {{ range .Page.Param "why" }}
          <li><i class="icon-check-circle"></i> {{ .item }}</li>
        {{ end }}
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3>{{ .Page.Param "who_text" }}</h3>
    </div>
  </div>
  <div class="row py-5">
    <div class="col-md-6">
      {{ with .Site.GetPage "/bilateral" }}
        <img src="{{ .Page.Params.section_image }}" alt="">
      {{ end }}
    </div>
    <div class="col-md-5 offset-1 dr-partner-group">
      {{ with .Site.GetPage "/bilateral" }}
      <h4>{{ .Title }}</h4>
      <p>{{ .Page.Params.section_summary }}</p>
      {{ end }}
      
      <ul class="dr-partner-list">
        {{ range where .Site.Pages.ByTitle "Params.partner_type" "Bilateral" }}
        {{ $partner := .Params.partner_type }}
        <li>
          <a href="{{.Permalink}}">{{.Title}}</a>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
  <div class="row py-5">
    <div class="col-md-6">
      {{ with .Site.GetPage "/Multilateral" }}
        <img src="{{ .Page.Params.section_image }}" alt="">
      {{ end }}
    </div>
    <div class="col-md-5 offset-1 dr-partner-group">
      {{ with .Site.GetPage "/Multilateral" }}
      <h4>{{ .Title }}</h4>
      <p>{{ .Page.Params.section_summary }}</p>
      {{ end }}
      
      <ul class="dr-partner-list">
        {{ range where .Site.Pages.ByTitle "Params.partner_type" "Multilateral" }}
        {{ $partner := .Params.partner_type }}
        <li>
          <a href="{{.Permalink}}">{{.Title}}</a>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
  <div class="row py-5">
    <div class="col-md-6">
      {{ with .Site.GetPage "/Others" }}
        <img src="{{ .Page.Params.section_image }}" alt="">
      {{ end }}
    </div>
    <div class="col-md-5 offset-1 dr-partner-group">
      {{ with .Site.GetPage "/Others" }}
      <h4>{{ .Title }}</h4>
      <p>{{ .Page.Params.section_summary }}</p>
      {{ end }}
      
      <ul class="dr-partner-list">
        {{ range where .Site.Pages.ByTitle "Params.partner_type" "Others" }}
        {{ $partner := .Params.partner_type }}
        <li>
          <a href="{{.Permalink}}">{{.Title}}</a>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
  
</div>

{{ end }}
