{{ define "main" }}

    <div class="container">
        <div class="row py-5">
            <div class="col">
                {{- partial "pager.html" . -}}
            </div>
        </div>
        <div class="row">          
            <div id="dr-page-title" class="col mx-auto">
                <h2>{{ .Title }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 mx-auto dr-article-body pr-md-5">
                {{ $content_parts := split .Content "<split>" }}

                {{ index $content_parts 0 | markdownify }}
            </div>
            <div class="col-md-5 dr-sidebar dr-funds">
                <div class="">
                    {{with .Params.partner_logo}}
                    <div class="mb-5">
                        <img src="{{- . -}}" alt=""> 
                    </div>
                    {{end}}              
                    <div class="">
                        {{with .Params.project_specific_cofinancing}}
                        <span class="dr-type">Cumulative project-specific cofinancing</span> <span class="dr-amount"> {{- . -}}</span>   
                        {{end}}
                        {{with .Params.pscfn}}<span class="dr-fn">{{- . | markdownify -}}</span>{{end}}
                    </div>
                    
                    {{with .Params.trust_funds_contribution}}
                    <div class="">
                        <span class="dr-type">Cumulative trust funds contribution</span> <span class="dr-amount">{{- . -}}</span>    
                    </div>
                    {{end}}

                    {{with .Params.project_specific_cofinancing_2019}}
                    <div class="">
                        <span class="dr-type">2019 Project-specific Cofinancing</span> 
                        <ul>
                            {{ range . }}
                            <li>{{ .item | markdownify }}</li>
                            {{ end }}
                        </ul>   
                    </div>
                    {{end}}

                    {{with .Params.trust_funds_contribution_2019}}
                    <div class="">
                        <span class="dr-type">2019 Trust Funds Contribution</span> 
                        <ul>
                            {{ range . }}
                            <li>{{ .item | markdownify }}</li>
                            {{ end }}
                        </ul>   
                    </div>
                    {{end}}

                    {{with .Params.new_trust_funds_contribution}}
                    <div class="">
                        <span class="dr-type">New Trust Funds Contributions</span> 
                        <ul>
                            {{ range . }}
                            <li>{{ .item | markdownify }}</li>
                            {{ end }}
                        </ul>   
                    </div>
                    {{end}}
                    
                </div>
            </div>
        </div>
        <div class="row py-5">
            <div class="col">
                {{ index $content_parts 1 | markdownify }}
            </div>
        </div>
        <div class="row py-5">
            <div class="col">
                {{- partial "pager.html" . -}}
            </div>
        </div>

    </div> 

{{ end }}