{{ define "main" }}

    <div class="container">
        <div class="row">
            <div id="dr-page-title" class="col mx-auto">
                {{$section_heading := .Site.GetPage "section" .Section }}
                <h3>{{with $section_heading}}{{- .Title -}}{{end}} / {{ .Params.partner_type }}</h3>
                <h2>{{ .Title }}</h2>
            </div>
        </div>
        {{ .Content }}

        {{ with .PrevInSection }}
        <a href="{{ .Permalink }}">{{ .Title }}</a>
        {{ end }}
        {{ with .NextInSection }}
        <a href="{{ .Permalink }}">{{ .Title }}</a>
        {{ end }}
    </div>

{{ end }}