{{ define "main" }}


        <div class="container clearfix">
            {{- partial "sectiontitle.html" . -}}
            <div class="row">
                <div class="col">
                    <ul class="dr-partner-nav">
                    {{ range .Pages.ByWeight }}
                        <li><a href="{{.Permalink}}">
                            <h3>{{.Title}}</h3>
                            <div class="">{{ .Params.lead }}</div>
                        </a></li>
                    {{ end }}
                    </ul>
                    
                    
                </div>
            </div>
        </div>

    

{{ end }}
