{{ define "main" }}

    <div class="container">
        <div class="row">
            <div class="col">
                
            </div>
        </div>
        <div class="row">
            
            <div id="dr-page-title" class="col mx-auto">
                {{$section_heading := .Site.GetPage "section" .Section }}
                <h3>{{with $section_heading}}{{- .Title -}}{{end}} / {{ .Params.partner_type }}</h3>
                <h2>{{ .Title }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
               
                {{ .Content }}
            </div>
        </div>
        

    </div> 

{{ end }}