{{ define "main" }}
    <div class="container dr-s2030-page-sector">
        <div class="row">
            <div class="col">
                {{- partial "pager2.html" . -}}
            </div>
        </div>
        <div class="row">
            <div id="dr-page-title" class="col mx-auto">
                {{$section_heading := .Site.GetPage "section" .Section }}
                <h3>{{with $section_heading}}{{- .Title -}}{{end}} and </h3>
                <h2>{{ .Title }}</h2>               
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 mx-auto">
                <img src="{{ .Params.icon }}" class="dr-icon" />
                <p class="lead">{{ .Params.lead }}</p>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-5 offset-1">
                <div class=""><img src="{{ .Params.main_image }}" data-animate="fadeIn" data-delay="400" alt="" /></div>
            </div>
            <div class="col-md-5">
                <div class="dr-op-box">
                    <p>{{ .Params.op_intro }}</p>
                    <ul class="iconlist">
                        {{ range .Params.op }}<li><i class="icon-ok"></i> {{ .item }}</li>{{ end }}
                    </ul>
                </div>
            </div>
        </div>
        <div class="row dr-article-body">
            <div class="col-md-10 mx-auto">           
                {{ .Content }}
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 mx-auto">
                <img src="{{ .Params.icon }}" class="dr-icon-close" />
            </div>
        </div>
    </div> 
    
{{ end }}