{{ define "main" }}

<div class="container dr-article-body">
    <div class="row">
      <div class="col mx-auto dr-page-title">
          <h2>{{ .Title }}</h2>
          <p>{{ .Params.lead }}</p>
          {{- partial "pager2.html" . -}}
      </div>
    </div>
     
    <div class="row">
      <div class="col-10 mx-auto">
        <!--//
        {{ with .Params.chart }}
        <img src="./images/modalities/{{ . }}" alt="" class="dr-mod-chart">
        {{ end }}
        //-->
        {{ .Content }}
      </div>
    </div>
    
    <div class="row justify-content-md-center py-5 mb-5">
      <div class="col-md-3">
        <div class="dr-contributions">
          {{ with .Params.total }}<h6>{{ . | markdownify }}</h6>{{ end }}
          {{ with .Params.totalcaption }}<p>{{ . | markdownify }}</p>{{ end }}
          
          {{ with .Params.contributions }}
          <h5>2019 Contributions</h5>
          <p>{{ . | markdownify }}</p>
          {{ end }}

          <h5>Contributors</h5>
          <ul>
          {{ range .Params.contributors }}
            <li>{{ .name | markdownify }}</li>  
          {{ end }}
          </ul>
          {{ with .Params.contributorsfn }}
          <p class="dr-fn">{{ . | markdownify }}</p>
          {{ end }}
        </div>
      </div>
      <div class="col-md-7">
          {{ range .Params.tf }}
          <div class="dr-mod-partner dr-sptf pb-5">
            <h5>{{ .name }}</h5>
            {{ if eq .type "single" }} 
            <p class="dr-type">Single Partner</p>
            {{ else if eq .type "multi" }}
            <p class="dr-type">Multi-partner</p>
            {{ end }}

            {{ with .tcc }}
            <div class="dr-stat">
              <h6>Total Contributions Committed</h6>
              <p>{{ . }}</p>
            </div>
            {{ end }}
      
          
          <div class="dr-stat">
            {{ with .rap }}<h6>Resources allocated to project</h6>
            <p>{{ . }}</p>{{ end }}
            {{ with .fn }}<p class="dr-fn">{{ . }}</p>{{ end }} 
          </div>
               
          <div class="dr-stat">
            <h6>Contributor</h6>
            <ul class="dr-funding">
              {{ range .contributor }}<li>{{ .partner  | markdownify }}</li>{{ end }}
            </ul>
            {{ with .contribution2019 }}<p class="dr-fn">{{ . }}</p>{{ end }} 
          </div>
      
          {{ $markdown := .description | markdownify }}
          {{ if not ( strings.Contains $markdown "<p>" ) }}
              <p>{{ $markdown }}</p>
          {{ else }}
              {{ $markdown }}
          {{ end }}
              
        </div>
        {{ end }}


      </div>
    </div>
    
    <div class="row">
      <div class="col-10 mx-auto">
        <div class="dr-fn">
          {{ .Params.footnote | markdownify }}
        </div>
      </div>
    </div>
</div>

{{ end }}