{{ define "main" }}

<div class="container dr-article-body">
    <div class="row">
      <div class="col mx-auto dr-page-title">
          <h2>{{ .Title }}</h2>
          <p>{{ .Params.lead }}</p>
          {{- partial "pager2.html" . -}}
      </div>
    </div>
     
    <div class="row">
      <div class="col-10 mx-auto">
        {{ .Content }}

        {{ with .Params.footnote }}
        <div class="dr-fn" style="border-top: 1px solid #c2ccd2; padding: 20px 0;">
          {{ . | markdownify }}
        </div>
        {{ end }}
      </div>
    </div>
    
    <div class="row justify-content-md-center py-5 mb-5">
      <div class="col-md-3 sticky-sidebar-wrap clearfix" data-offset-top="100">
        <div class="sidebar-widgets-wrap">
          <h5>Contributors</h5>
          <ul class="sticky-sidebar">
            {{ range .Params.contributors }}
            <li>{{ with .link }}<a href="./{{ . }}">{{ end }}{{ .name | markdownify }}{{ with .link }}</a>{{ end }}</li>  
            {{ end }}
            {{ with .Params.contributorsfn }}
            <p class="dr-fn">{{ . | markdownify }}</p>
            {{ end }}
          </ul>
        </div>
      </div>
      <div class="col-md-7">
          {{ range .Params.tf }}
          <div id="{{ .id }}" class="dr-mod-partner dr-sptf pb-5">
            <h5><a href="{{ .url }}">{{ .name }}</a></h5>
            {{ if eq .type "single" }} 
            <p class="dr-type">Single Partner</p>
            {{ else if eq .type "multi" }}
            <p class="dr-type">Multi-partner</p>
            {{ end }}

            {{ with .tcc }}
            <div class="dr-stat">
              <h6>Total Contributions Committed</h6>
              <p>{{ . }}</p>
            </div>
            {{ end }}
      
          
          <div class="dr-stat">
            {{ with .rap }}<h6>Resources allocated to project</h6>
            <p>{{ . }}</p>{{ end }}
            {{ with .fn }}<p class="dr-fn">{{ . }}</p>{{ end }} 
          </div>
               
          <div class="dr-stat">
            <h6>Contributor</h6>
            <ul class="dr-funding">
              {{ range .contributor }}<li>{{ .partner  | markdownify }}</li>{{ end }}
            </ul>
            {{ with .contribution2019 }}<p class="dr-fn">{{ . }}</p>{{ end }} 
          </div>
      
          {{ $markdown := .description | markdownify }}
          {{ if not ( strings.Contains $markdown "<p>" ) }}
              <p>{{ $markdown }}</p>
          {{ else }}
              {{ $markdown }}
          {{ end }}
              
        </div>
        {{ end }}

        
      </div>
    </div>
    
</div>

{{ end }}