{{ define "main" }}

<div class="container dr-article-body">
    <div class="row">
        <div class="col mx-auto dr-page-title">
            <h2>{{ .Title }}</h2>
        </div>
    </div>
    <div class="row justify-content-md-center dr-intro">
        <div class="col">
            {{ $markdown := .Params.summary | markdownify }}
            {{ if not ( strings.Contains $markdown "<p>" ) }}
                <p>{{ $markdown }}</p>
            {{ else }}
                {{ $markdown }}
            {{ end }}
        </div>
    </div>
    {{ with .Params.chart }}
    <div class="row py-5">
        <div class="col-md-8 mx-auto">
            <img src="./images/modalities/{{ . }}" alt=""> 
        </div>
    </div>
    {{ end }}
    <div class="row mb-5">
        <div class="col mx-auto"> 
            {{ .Content }}
        </div>
    </div>


    {{range where .Site.Pages ".Params.pagetype" "fpf" }}
    {{ "<!-- FPF Row -->" | safeHTML }}
        <div class="row mb-5">
            <div class="col-md-6 pr-md-5">
                <div class="dr-fpf-img"><img src="./images/modalities/{{ .Params.image }}" /></div>
            </div>
            <div class="col-md-6 pl-md-5 dr-fpf-intro">
                <a href="{{.Permalink}}">    
                    <h3>{{.Title}}</h3>
                    <p class="">{{ .Params.lead }}</p>
                </a>
            </div>
        </div>
        {{ "<!-- /FPF Row -->" | safeHTML }}
    {{ end }}


</div>

{{ end }}