{{ define "main" }}

<div class="container dr-article-body">
    <div class="row">
        <div class="col mx-auto dr-page-title">
            <h2>{{ .Title }}</h2>
        </div>
    </div>
    <div class="row justify-content-md-center mb-5 dr-intro">
        <div class="col">
            {{ $markdown := .Params.summary | markdownify }}
            {{ if not ( strings.Contains $markdown "<p>" ) }}
                <p>{{ $markdown }}</p>
            {{ else }}
                {{ $markdown }}
            {{ end }}
        </div>
    </div>
    <div class="row py-5">
        <div class="col-md-8 mx-auto">
            {{ with .Params.chart }}<img src="./images/modalities/{{ . }}" alt="">{{ end }} 
        </div>
    </div>
    <div class="row">
        <div class="col mx-auto"> 
            {{ .Content }}
        </div>
    </div>
    <div class="row py-5">
      {{ with .Site.GetPage "/modalities/financing-partnership-facilities/clean-energy-financing-partnership-facility" }}
          <div id="{{ .Params.id }}" class="col-md-6 pr-5 dr-modalities">
            <a href="{{.Permalink}}">
            <img src="./images/modalities/{{ .Params.image }}" alt="" />
            <h4>{{.Title}}</h4>
            </a>
          </div>
          {{ end }}
          {{ with .Site.GetPage "/modalities/financing-partnership-facilities/health-financing-partnership-facility" }}
          <div id="{{ .Params.id }}" class="col-md-6 pl-5 dr-modalities">
            <a href="{{.Permalink}}">
            <img src="./images/modalities/{{ .Params.image }}" alt="" />
            <h4>{{.Title}}</h4>
            </a>
          </div>
          {{ end }}      
    </div>
    <div class="row py-5">
        {{ with .Site.GetPage "/modalities/financing-partnership-facilities/regional-cooperation-financing-partnership-facility" }}
        <div id="{{ .Params.id }}" class="col-md-6 pr-5 dr-modalities">
            <a href="{{.Permalink}}">
            <img src="./images/modalities/{{ .Params.image }}" alt="" />
            <h4>{{.Title}}</h4>
            </a>
        </div>
        {{ end }}
        {{ with .Site.GetPage "/modalities/financing-partnership-facilities/urban-financing-partnership-facility" }}
        <div id="{{ .Params.id }}" class="col-md-6 pl-5 dr-modalities">
            <a href="{{.Permalink}}">
            <img src="./images/modalities/{{ .Params.image }}" alt="" />
            <h4>{{.Title}}</h4>
            </a>
        </div>
        {{ end }}      
    </div>
    <div class="row py-5">
        {{ with .Site.GetPage "/modalities/financing-partnership-facilities/water-financing-partnership-facility" }}
        <div id="{{ .Params.id }}" class="col-md-6 pr-5 dr-modalities">
            <a href="{{.Permalink}}">
            <img src="./images/modalities/{{ .Params.image }}" alt="" />
            <h4>{{.Title}}</h4>
            </a>
        </div>
        {{ end }}
        <div id="{{ .Params.id }}" class="col-md-6 dr-modalities">
        </div>    
    </div>
</div>

{{ end }}