{{ define "main" }}

<div class="container dr-article-body">
    <div class="row">
        <div class="col mx-auto">
            <h2>{{ .Title }}</h2>
        </div>
    </div>
    <div class="row justify-content-md-center mb-5 dr-intro">
        <div class="col-md-6">
           <p>{{ .Params.summary | markdownify }}</p> 
        </div>
        <div class="col-md-6">
            <img src="{{ .Params.main_image }}" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 mx-auto">
            {{ .Content }}
        </div>
    </div>
</div>

{{ end }}