{{ define "main" }}

<div class="container dr-article-body">
    <div class="row">
        <div class="col mx-auto dr-page-title">
            <h2>{{ .Title }}</h2>
        </div>
    </div>
    <div class="row justify-content-md-center dr-intro">
        <div class="col-md-10 mx-auto">
            {{ $markdown := .Params.summary | markdownify }}
            {{ if not ( strings.Contains $markdown "<p>" ) }}
                <p>{{ $markdown }}</p>
            {{ else }}
                {{ $markdown }}
            {{ end }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 mx-auto">
            <!--// 
            {{ with .Params.main_image }}<img src="{{ . }}" class="dr-mod-main-image" alt="">{{ end }}
            //-->
            {{ .Content }}

            {{ with .Params.chart }}<img src="./images/modalities/{{ . }}" alt="" class="mb-5">{{ end }}
            
        </div>
    </div>
</div>

{{ end }}