{{ define "main" }}

<div class="container dr-article-body">
    <div class="row">
        <div class="col mx-auto dr-page-title">
            <h2>{{ .Title }}</h2>
        </div>
    </div>
    <div class="row justify-content-md-center mb-5 dr-intro">
        <div class="col">
           {{ $markdown := .Params.summary | markdownify }}
            {{ if not ( strings.Contains $markdown "<p>" ) }}
                <p>{{ $markdown }}</p>
            {{ else }}
                {{ $markdown }}
            {{ end }}
        </div>
    </div>
    {{ with .Params.chart }}
    <div class="row py-5">
        <div class="col-md-8 mx-auto">
           <img src="./images/modalities/{{ . }}" alt=""> 
        </div>
    </div>
    {{ end }}
    <div class="row">
        <div class="col-md-10 mx-auto">
            {{ with .Params.main_image }}<img src="{{ . }}" class="dr-mod-main-image" alt="">{{ end }}
            {{ .Content }}
        </div>
    </div>


{{ end }}