{{ define "main" }}

    <div class="container">
        <div class="row">
            <div class="col-sm-3 dr-hl-side">
                <h3>{{.Params.question | markdownify}}</h3>
                <div class="dr-hl-total">{{.Params.total | markdownify}}</div>
                <h2>by {{ .Title }}</h2>
                {{ with .Params.financing }}
                   
                <ul class="left-nav nav nav-pills">
                    <li><a class="active" href="#all-product-types" data-toggle="tab">All Product Types</a></li>
                    <li><a href="#loans-equity" data-toggle="tab">Loans and Equity</a></li>
                    <li><a href="#grants-investments" data-toggle="tab">Grant for Investments</a></li>
                    <li><a href="#grants-tech-assistance" data-toggle="tab">Grant for Technical Assistance</a></li>
                  </ul>
                    
                {{ end }}
            </div>
            <div class="col-sm-9">
                {{ .Content }}
                
            </div>
        </div>
        
    </div>
   
{{ end }}