.dr-data  {
  h2 {
    font-size: 72px;
    line-height: 1;
    margin: 0;
    em {
      color: $adb-accent-orange;
      display: block;
      font-size: 42px;
      font-style: normal;
      font-weight: 300;
      line-height: 1;
    }
  }
  
  p.dr-units {
    font-size: 42px;
    font-style: normal;
    font-weight: 300;
    margin: 0;
    padding: 0;
  }
}

.dr-data-nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2em;
  li {
      border: 1px solid lighten($adb-dr-gray, 40%);
      color: $adb-dr-gray;
      list-style: none;
      
      a {
          background-color: lighten($adb-dr-gray, 60%);;
          display: block;
          padding: 20px;
          color: $body-color;
          font-weight: 700;
          &:hover {
              background-color: $adb-accent-orange;
              color: #fff;
              transition: all 0.5s ease-in-out;
          }
          &:hover h3 {
              color: #fff;
              transition: all 0.5s ease-in-out;
          }
          em {
            display: block;
          }
      }
  }     
}