#dr-feature {
  .dr-article-body {
    
    h4 {
      clear: both;
      font-size: 1.4rem;
      text-align: center;
      text-transform: uppercase;
      font-weight: 300;
      letter-spacing: .2rem;
      color: $adb-accent-orange;
      margin-top: $margin-big;
      em {
        display: block;
        font-size: 1rem;
        font-style: normal;
        text-transform: lowercase;
        letter-spacing: 1px;
      }
    }
    h4:after {
      content: '';
      display: block;
      width: 100px;
      border-top: 1px solid lighten($adb-dr-gray, 40%);
      margin: $margin-big/4 auto $margin-big auto;
    }
    
    @include media-breakpoint-down(sm) {
      h3 {
        line-height: 1.5;
        font-size: round($page-title-size / 1.17);
        margin-top: $margin-big/4;
      }
      h3:after {
        margin: $margin-big/4 auto $margin-big/4 auto;
      }
    }
  }
}

.dr-indent {
  margin-left: 40px;
  strong {
    color: $adb-accent-orange;
  }
}


.dr-sf-chart .chart {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 60px;
  background: $adb-gray-three;
  display: flex;
  align-items: center;
  li {
    margin: 0;
    padding: 0; 
    flex: auto;
    height: 60px;
    list-style-type: none;
    border-right: none;
    align-items: center;
    border-right: 0.5vw solid #fff;
    &:last-child {
      border-right: none; 
      background: white;
    }
  }
  a {
    display: block;
    height: 60px;
    background: none;
    color: transparent;
    .bar {
      background-color: $body-color;
      border: 0;
      height: 60px;
      display: inline-block;
      text-indent: -9999px; 
      margin: 0;
      padding: 0;
      margin-right: -3px;
    }
  }
  .total {
    .nso-total {
      height: 60px;
      color: $body-color;
      font-weight: 700;
      padding: 0 5px;
      display: block;
      text-align: center;
      margin-right: -25%;
    }
    
  }
}

.dr-sf-chart {
  .chart-content .item {
    width: 100%;
    position: absolute;
    left: 0;
    float: left;
    strong {
      color: #4db4c6;
      display: block;
    }
    &:before {
      border-left: 1px solid $adb-dr-gray;
      content: '';
      display: block;
      padding-left: 5px;
    }
  }
  .chart-content .active {
    transition: ease;
  }
  #st .item {
    &:first-of-type {
      position: relative;
      &:before {
        height: 360px;
      }
    }
    &:nth-of-type(2) {
      left: 4%;
      &:before {
        height: 300px;
      }
    }
    &:nth-of-type(3) {
      left: 15%;
      &:before {
        height: 230px;
      }
    }
    &:nth-of-type(4) {
      left: 35%;
      &:before {
        height: 140px;
      }
    }
    &:nth-of-type(5) {
      left: 41%;
      &:before {
        height: 80px;
      }
    }
    
  }
  #lt {
    p {
      margin-left: 46%;
    }
    .item {
      strong {
        color: #db5c3a;
      }
      &:first-of-type {
        position: relative;
        margin-left: 46%;
        &:before {
          height: 30px;
        }
      }
      &:nth-of-type(2) {
        left: 67%;
        &:before {
          height: 30px;
        }
      }
      
    }
  }
  #nso-non .item {
    font-size: .8rem;
    color: #4db4c6;
    strong {
      display: inline;
      font-weight: normal;
    }
    p {
      font-weight: bold;
    }
    &:first-of-type {
      position: relative;
      &:before {
        height: 240px;
      }
    }
    &:nth-of-type(2) {
      left: 16%;
      &:before {
        height: 200px;
      }
    }
    &:nth-of-type(3) {
      left: 30%;
      &:before {
        height: 160px;
      }
    }
    &:nth-of-type(4) {
      left: 40%;
      &:before {
        height: 120px;
      }
    }
    &:nth-of-type(5) {
      left: 45%;
      &:before {
        height: 90px;
      }
    }
    &:nth-of-type(6) {
      left: 47%;
      &:before {
        height: 60px;
      }
    }
    &:nth-of-type(7) {
      left: 49%;
      &:before {
        height: 30px;
      }
    }
  }
  #nso-adb {
    margin-left: 50%;
    position: relative;
  }
  #nso-adb .item {
    font-size: .8rem;
    color: #db5c3a;
    strong {
      display: inline;
      font-weight: normal;
      color: #db5c3a;
    }
    &:first-of-type {
      position: relative;
      &:before {
        height: 140px;
      }
    }
    &:nth-of-type(2) {
      left: 22%;
      &:before {
        height: 90px;
      }
    }
    &:nth-of-type(3) {
      left: 53%;
      &:before {
        height: 40px;
      }
    }
  }
}

.dr-chart-side {
  h6 {
    font-size: 1.6em;
    font-weight: 400;
    line-height: 1;
  }
  em {
    font-size: 1.4em;
    font-weight: 200;
    line-height: .8;
  }
  .dr-side-nav {
    .nav-link {
      border-radius: 0;
      font-weight: 200;
      font-size: 1.1rem;
      padding-left: 10px;
      color: #555;
    }
    .active {
      font-weight: 700;
      color: $adb-accent-orange;
    }
  }
  .dr-pre-head {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0;
    text-transform: uppercase;
  }
  .dr-fund-total {
    color: $adb-gray-three;
    font-size: 72px;
    font-family: $body-font;
    font-weight: 700;
    text-align: left;
    letter-spacing: 0;
    line-height: .8;
    margin: 0;
    padding: 0;
    display: inline-block;
    em {
      font-size: 28px;
      font-weight: 200;
      font-style: normal;
      vertical-align: top;
      display: inline-block;
    }
    strong {
      display: block;
      font-weight: 700;
      font-size: 34px;
      padding-top: 5px;
      text-transform: lowercase;
      letter-spacing: 0;
    }
    &:after {
      content: '';
      display: none;
      width: 100px;
      border-top: 1px solid #c2ccd2;
      margin: 20px auto 80px auto;
    }
  }
}

ul.dr-fn {
  li {
    list-style: none; 
  }
}

.nso-chart {
  border-left: 1px solid #f4f4f4;
  padding: 10px 0;
  margin-left: 40px;
  margin-top: -80px;
  li {
    list-style-type: none;
    margin: 80px 0;
    margin-left: -52px;
    display: flex;
    align-items: center;
    &:first-of-type {
      width: 83%;
    }
    &:nth-of-type(3) {
      width: 97%;
    }
    .nso-year {
      font-weight: 200;
      padding: 0 10px;
    }
    .nso-amount {
      display: block;
      font-weight: 700;
      padding: 0 10px;
      line-height: 1 !important;
      margin: 0;
    }
    .nso-ratio {
      display: block;
      font-weight: 300;
      padding: 0 10px;
      line-height: 1 !important;
      margin: 0;
    }
    .nso-total {
      margin-right: -25%;
    }
    .nso-breakdown {
      background-color: $adb-gray-three;
      flex-grow: 4;
      height: 60px;
      display: flex;
      .nso-progress {
        background-color: $adb-gray-three;
        border-right: 1px solid #fff;
        flex: auto;
        position: relative;
        height: 60px;
        .item {
          font-size: .8rem;
          line-height: 1.2 !important;
          position: absolute;
          top: 70px;
          width: 300px;
          strong {
            display: block;
          }
        }
      }
      .nso-commercial .item {
        margin-left: 10px;
        strong {
          color: #4db4c6;
        }
      }
      .nso-official {
        position: relative;
      }
      .nso-official .item {
        text-align: right;
        position: absolute;
        right: 0;
        strong {
          color: #db5c3a;
        }
      }
    }
    
  }
}



.nsov-projs-chart-nav {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  li {
    background: $adb-gray-three;
    margin: 0;
    padding: 0; 
    flex: auto;
    height: 60px;
    list-style-type: none;
    border-right: none;
    align-items: center;
    border-right: 0.5vw solid #fff;
    &:last-child {
      border-right: none;
      //background-color: transparent;
    }
  }
  a {
    display: block;
    height: 60px;
    background: none;
    color: transparent;
    &.active {
      background-color: $adb-main-blue-eleven;
    }
  }
  li:nth-of-type(2) a.active {
    background-color: #db5c3a;
  }
  /*li:last-of-type a {
    color: $body-color;
    font-weight: 700;
    text-align: center;
    line-height: 60px;
  }*/
}

.nsov-projs-chart {
  .proj-total {
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1 !important;
    strong {
      color: $adb-main-blue-eleven;
      display: block;
      font-size: .8em;
      font-weight: 700;
    }
  }
  #ofcof .proj-total {
    margin-right: 0;
    text-align: right;
    strong {
      color: #db5c3a;
    }
  }
  .ratio-bar {
    display: flex;
    margin: 0 auto;
    width: 60%;
    div {
      flex: auto;
      position: relative;
      height: 40px;
      margin-bottom: 20px;
      &.adb {
        background-color: #db5c3a;
        text-align: right;
        p {
          left: -120px;
        }
      }
      &.nsov {
        background-color: #e88468;
        p {
          right: -120px;
        }
      }
    }
    p {
      font-size: .8rem;
      line-height: 1 !important;
      position: absolute;
      width: 120px;
      padding: 5px;
    }
    strong {
      color: #db5c3a;
      display: block;
      font-size: .7rem;
      text-transform: uppercase;
    }
  }
  .nsov-projects {
    .ac {
      margin-top: 2px;
      border: none;
      background-color: #f4f4f4;
      box-sizing: border-box;

    }
    .ac > .ac-q {
      font-weight: 200;
      color: #111;
      padding: 10px 30px 10px 10px;
      margin: 0;
      text-decoration: none;
      display: flex;
      cursor: pointer;
      position: relative;
      span {
        color: $body-color;
        flex: auto;
        text-align: right;
      }
    }
    table {
      margin: 0 auto;
      width: 95%;
      th, td {
        font-size: .8rem;
        text-align: left;
      }
      td:last-of-type,
      th:last-of-type {
        text-align: right;
      }
      th {
        border-bottom: 3px solid #000;
      }
      th span {
        display: block;
        font-size: .6rem;
      }
    }
  }
}