
/* ----------------------------------------------------------------
  Banner
-----------------------------------------------------------------*/
#dr-banner {
  padding-bottom: 80px;
  h1 {
    margin: 0 20px;
    padding: 0;
    line-height: 1.1;
    font-weight: 200;
    font-size: 4.3rem;
    color: $adb-accent-orange;
  }
  @media only screen and (max-width: 940px) {
    h1 {
      font-size: 3.8rem;
    }

  } 
  @media only screen and (max-width: 839px) {
    h1 {
      font-size: 3.4rem;
    }

  }  

  .section-1 .section-1a {
    padding-left: 30px;
    padding-right: 0px;
  }

  .section-1 .section-1b {
    padding-right: 30px;
    padding-left: 0px;
  }

  @media only screen and (max-width: 767px) {
    .section-1 .section-1a {
       padding-right: 30px;
    }
    .section-1 .section-1b {
      padding-left: 30px; 
    }
  }



.section-1 .flex-container-1a,
.section-1 .flex-container-1b {
  display: flex;  
  flex-wrap: wrap;
}

.section-1 .flex-container-1a .head {
  width: 100%; 
  height: 390px;
  padding-left: 0;
  p {
    margin: 0;
    padding: 5% 0 0 25px;
    line-height: 1.1;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

@media only screen and (max-width: 1199px) {
  .section-1 .flex-container-1a .head {
    padding-left: 0%; 
  }

}

@media only screen and (max-width: 767px) {
  .section-1 .flex-container-1a .head {
    height: auto;
  }
}

  .section-1 .flex-container-1a .fb,
  .section-1 .flex-container-1b .fb {
    position: relative;
    background: #ffffff;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;

    .content-text h5 {
      color: #ffffff;
      font-size: 18px;
      text-align: center;
      text-transform: none;
      margin: 0;
    }
    
  }

  .section-1 .flex-container-1b .content-text p {
      margin: 0 0 0 0;
      padding: 0;
      line-height: 1.3em;
      font-size: 13px;
      text-align: center;
      text-transform: none;
      font-style: italic;  
      display: none;
      transform: scalex(0);
    }
  
    .section-1 .flex-container-1b #explore .content-text p {
      display: block;
      transform: scalex(1);
    }
    
    
  .section-1 .flex-container-1b .fb:hover p {
    display: block;
    transform: scalex(1);
    transition: .5s ease;
  }

  .section-1 .flex-container-1a .fb:nth-child(2),
  .section-1 .flex-container-1a .fb:nth-child(3),
  .section-1 .flex-container-1a .fb:nth-child(4),
  .section-1 .flex-container-1a .fb:nth-child(5),
  .section-1 .flex-container-1a .fb:nth-child(6),
  .section-1 .flex-container-1a .fb:nth-child(7) {
    width: 33.333333333333333333333333333333333%;
    height: 195px;
  }

  .section-1 .flex-container-1a .fb:nth-child(5) {
    background-color: #d0d0d0;
  }

  @media only screen and (max-width: 767px) {
    .section-1 .flex-container-1a .fb:nth-child(4),
    .section-1 .flex-container-1a .fb:nth-child(5),
    .section-1 .flex-container-1a .fb:nth-child(6) {
      display: none;
    }
  }


  @media only screen and (max-width: 400px) {
    .section-1 .flex-container-1a .fb:nth-child(4) {
      display: none; 
    } 
    .section-1 .flex-container-1a .fb:nth-child(2),
    .section-1 .flex-container-1a .fb:nth-child(3),
    .section-1 .flex-container-1a .fb:nth-child(7) {
      width: 50%;
    }
  }

  .section-1 .flex-container-1a .fb:nth-child(2) {
    background-image: url(./images/section1-section1a-01.jpg);
  }

  .section-1 .flex-container-1a .fb:nth-child(7) {
    background-image: url(./images/home-projects.jpg);
  }

   .section-1 .flex-container-1a .fb:nth-child(7):hover {
    //background-image: url(./images/section1-section1b-06-grey.jpg);
  }

  .section-1 .flex-container-1a .fb:nth-child(3) {
    background: #ea522b;
  }

  .section-1 .flex-container-1a .fb:nth-child(3) .content-text {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    color: #fff;
    position: absolute;
    left: 0;
    bottom: 10%;
    z-index: 9;
    text-align: center;
  }

  .section-1 .flex-container-1a .fb:nth-child(3) .content-text p {
    margin: 15% 0 0 0;
    padding: 0;
    line-height: 1.3em;
    font-size: 13px;
    text-align: center;
    text-transform: none;
    font-style: italic;  
  }

  .section-1 .flex-container-1a .fb:nth-child(3) .content-text img {
    margin: 0 auto;
  }

  .section-1 .flex-container-1a .fb:nth-child(7) .content-text {
    position: absolute;
    width: 100%;
    transition: .5s ease;
    opacity: 1;
    font-size: 12px;
    padding-left: 6%;
    padding-right: 6%;
    color: #fff;
    left: 0;
    bottom: 5%;
    z-index: 9;
    text-align: left; 
  }

  .section-1 .flex-container-1a .fb:nth-child(7) .content-text p {
    margin: 0;
    padding: 0;
    font-size: 1.1em;
    line-height: 1.3em;
    display: none;
    transform: scale(0);
    text-align: center;
  }

  .section-1 .flex-container-1a .fb:nth-child(7):hover .content-text {
    opacity: 1; 
    p {
      display: block;
      transform: scale(1);
    }
  }

  .section-1 .flex-container-1a .fb:nth-child(7):hover .tint {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.5; 
    transition: .5s ease;
  }



  



  




  .section-1 .flex-container-1b .fb {
    width: 33.333333333333333333333333333333333%;
    height: 195px;
  }

  @media only screen and (max-width: 400px) {
    .section-1 .flex-container-1b .fb {
      width: 50%;
      height: 195px;
    }

    .section-1 .flex-container-1b .fb:nth-child(2),
    .section-1 .flex-container-1b .fb:nth-child(4),
    .section-1 .flex-container-1b .fb:nth-child(9),
    .section-1 .flex-container-1b .fb:nth-child(10),
    .section-1 .flex-container-1b .fb:nth-child(11) {
      display: none; 
    }  

  }

  .section-1 .flex-container-1b .fb {
    position: relative;
  }

  .section-1 .flex-container-1b .fb .content-text {
    position: absolute;
    width: 100%;
    transition: .5s ease;
    opacity: 1;
    font-size: 12px;
    padding-left: 6%;
    padding-right: 6%;
    color: #fff;
    left: 0;
    bottom: 5%;
    z-index: 9;
  }

  .section-1 .flex-container-1b .fb:nth-child(8) .content-text {
  opacity: 1;
  text-align: center;
  color: #4d4d4d;
  bottom: 10%;
  }

  .section-1 .flex-container-1b .fb:nth-child(8) .content-text p {
    margin: 15% 0 0 0;
    padding: 0;
    line-height: 1.3em;
    font-size: 13px;
    text-align: center;
    text-transform: none;
    font-style: italic;  
  }


  .section-1 .flex-container-1b .fb p {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.3em;
    text-align: center;
    //text-transform: capitalize;
  }

  .section-1 .flex-container-1b .fb:hover .content-text {
  opacity: 1; 
  }

  .section-1 .flex-container-1b .fb:hover .tint {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.5; 
    transition: .5s ease;
  }


  .section-1 .flex-container-1b .fb:first-child {
    background-image: url(./images/home-s2030.jpg);
    background-position-x: right;
  }

  .section-1 .flex-container-1b .fb:first-child:hover {
    //background-image: url(./images/section1-section1b-01-grey.jpg);
  }

  .section-1 .flex-container-1b .fb:nth-child(3) {
    background-image: url(./images/home-partners.jpg);
  }

    .section-1 .flex-container-1b .fb:nth-child(3):hover {
    //background-image: url(./images/section1-section1b-02-grey.jpg);
  }


  .section-1 .flex-container-1b .fb:nth-child(5) {
    background-image: url(./images/home-data.jpg);
  }

    .section-1 .flex-container-1b .fb:nth-child(5):hover {
    //background-image: url(./images/section1-section1b-03-grey.jpg);
  }

  .section-1 .flex-container-1b .fb:nth-child(6) {
    background-image: url(./images/home-stories.jpg);
  }

    .section-1 .flex-container-1b .fb:nth-child(6):hover {
    //background-image: url(./images/section1-section1b-04-grey.jpg);
  }

  .section-1 .flex-container-1b .fb:nth-child(7) {
    background-image: url(./images/home-private.jpg);
  }

  .section-1 .flex-container-1b .fb:nth-child(7):hover {
    //background-image: url(./images/section1-section1b-05-grey.jpg);
  }

  .section-1 .flex-container-1b .fb:nth-child(8) {
    background: #d0d0d0;
  }


  .section-1 .flex-container-1b .fb:nth-child(12) {
    background-image: url(./images/home-modalities.jpg);
  }

   .section-1 .flex-container-1b .fb:nth-child(12):hover {
    //background-image: url(./images/section1-section1b-07-grey.jpg);
  }

  


}


/* ----------------------------------------------------------------
  Building
-----------------------------------------------------------------*/

#dr-building {
  background-color: $adb-gray-four;
  margin-bottom: 100px;
  padding: 100px 0 0 0;
  h2 {
    font-size: 3rem;
    font-weight: 400;
    line-height: 1;
  }
  img {
    position: absolute;
    bottom: 0;
  }
  li {
    font-size: 1rem;
    margin: 0 0 20px 20px;
    list-style: none;
    vertical-align: middle;
  }
  i {
    font-size: 1.6rem;
    font-weight: 100;
    color: $adb-accent-orange;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
  }
  @include media-breakpoint-down(sm) {
   img {
      position: relative;
    }
  }
}



/* ----------------------------------------------------------------
  Explore
-----------------------------------------------------------------*/

#dr-explore {

  padding: 0;

  .flex-container-3 {
    display: flex;  
    flex-wrap: wrap;
  }

  .flex-container-3>div>a {
    .content-text {
      background-color: rgba($color: #ffffff, $alpha: 0.8);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      width: 100%;
      transition: .5s ease;
      opacity: 0;
      padding-left: 8%;
      padding-right: 8%;
      h6 {
        margin: 0;
        padding: 0;
        font-size: 18px;
        font-weight: 400;
        color: #000000;
      }
    }
    .tint {
      display: none;
    }
  }

  .flex-container-3 .fb1 {
    height: 195px;
    width: 50%;
    h1 {
      font-size: 6rem;
      line-height: 1;
      font-weight: 200;
    }
    @include media-breakpoint-down(sm) {
			height: auto;
			h1 {
        font-size: 3.6rem;
      }
		}
  }

  @media only screen and (max-width: 400px) {
    .flex-container-3 .fb1 {
      width: 100%;
    }
  }

  .flex-container-3 .fb2 {
    height: 195px;
    width: 16.66666666666667%;
    position: relative;
  }

  @media only screen and (max-width: 767px) {
    .flex-container-3 .fb2 {
      display: none;
    }
  }

  .flex-container-3 .fb3 {
    position: relative;
    height: 195px;
    width: 16.66666666666667%;
    background: url(./images/home-broadband.jpg) no-repeat center top; 
  }

  .flex-container-3 .fb3 .content-text  {
    //position: absolute;
    //color: #fff;
    //left: 0;
    //bottom: 20%;
    //z-index: 9;   
  }

  .flex-container-3 .fb3 .content-text h6 {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 400;
    color: #000000;
  }

  .flex-container-3 .fb3 .content-text p {
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 1.3em;
    color: #000000;
  }

  .flex-container-3 .fb3:hover .content-text {
    opacity: 1; 
  }

  .flex-container-3 .fb3:hover .tint {
    display: none;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: 0.8; 
    transition: .5s ease;
  }

  @media only screen and (max-width: 767px) {
    .flex-container-3 .fb3 {
      width: 25%;
    }
  }

  @media only screen and (max-width: 400px) {
    .flex-container-3 .fb3 {
      width: 50%;
    }
  }

  .flex-container-3 .fb4 {
    position: relative;
    height: 195px;
    width: 16.66666666666667%;
    background: url(./images/home-improving.jpg) no-repeat center top;  
  }

  .flex-container-3 .fb4 .content-text  {
    //position: absolute;
    //width: 100%;
    //transition: .5s ease;
    //opacity: 0;
    //padding-left: 8%;
    //padding-right: 8%;
    //color: #fff;
    //left: 0;
    //bottom: 20%;
    //z-index: 9;   
  }

  .flex-container-3 .fb4 .content-text h6 {
    //margin: 0;
    //padding: 0;
    //font-size: 21px;
    color: #ffffff;
  }

  .flex-container-3 .fb4:hover .content-text {
    background-color: rgba($color: #e9532b, $alpha: 0.8);
    opacity: 1; 
  }

  @media only screen and (max-width: 767px) {
    .flex-container-3 .fb4 {
      width: 25%;
    }
  }

  @media only screen and (max-width: 400px) {
    .flex-container-3 .fb4 {
      width: 50%;
    }
  }

  .flex-container-3 .fb5 {
    position: relative;
    height: 195px;
    width: 16.66666666666667%;
    background: url(./images/home-critical.jpg) no-repeat center top; 
  }

  .flex-container-3 .fb5 .content-text h6 {
    
  }

  .flex-container-3 .fb5:hover .content-text {
    opacity: 1; 
  }

  @media only screen and (max-width: 767px) {
    .flex-container-3 .fb5 {
      width: 25%;
    }
  }

  @media only screen and (max-width: 400px) {
    .flex-container-3 .fb5 {
      width: 50%;
    }
  }

  .flex-container-3 .fb6 {
    position: relative;
    height: 195px;
    width: 33.33333333333333%;
    background: url(./images/home-solar.jpg) no-repeat center top; 
  }

  .flex-container-3 .fb6 .content-text h6 {
    color: #ffffff;

  }


  .flex-container-3 .fb6:hover .content-text {
    background-color: rgba($color: #e9532b, $alpha: 0.8);
    opacity: 1; 
  }

  @media only screen and (max-width: 767px) {
    .flex-container-3 .fb6 {
      width: 50%;
    }
  }

  @media only screen and (max-width: 400px) {
    .flex-container-3 .fb6 {
      width: 100%;
    }
  }

  .flex-container-3 .fb7 {
    height: 195px;
    width: 16.66666666666667%;
    position: relative;
  }

  @media only screen and (max-width: 767px) {
    .flex-container-3 .fb7 {
      display: none;
    }
  }

  .flex-container-3 .fb8 {
    height: 195px;
    width: 16.66666666666667%;
    position: relative;
    background: #d0d0d0;
  }

  .flex-container-3 .fb8 .content-text {
    background-color: transparent;
    opacity: 1; 
    img {
      display: block;
      margin: 60px auto 30px auto;
    }
    p {
      font-size: 13px;
      text-align: center;
      width: 100%;
      font-style: italic;
    }
   
  }
  .flex-container-3 .fb8 a {
      color: $body-color;
    }
  @media only screen and (max-width: 767px) {
    .flex-container-3 .fb8 {
      display: none;
    }
  }

  .flex-container-3 .fb9 {
    position: relative;
    height: 195px;
    width: 16.66666666666667%;
    background: url(./images/home-access.jpg) no-repeat center top; 
  }

  .flex-container-3 .fb9:hover .content-text {
    opacity: 1; 
  }

  @media only screen and (max-width: 767px) {
    .flex-container-3 .fb9 {
      width: 25%;
    }
  }

  @media only screen and (max-width: 400px) {
    .flex-container-3 .fb9 {
      width: 50%;
    }
  }

  .flex-container-3 .fb10 {
    position: relative;
    height: 195px;
    width: 16.66666666666667%;
    background: url(./images/home-uncertain.jpg) no-repeat center top; 
  }

  .flex-container-3 .fb10 .content-text h6 {
    color: #ffffff;
  }

  .flex-container-3 .fb10:hover .content-text {
    background-color: rgba($color: #e9532b, $alpha: 0.8);
    opacity: 1; 
  }

  @media only screen and (max-width: 767px) {
    .flex-container-3 .fb10 {
      width: 25%;
    }
  }

  @media only screen and (max-width: 400px) {
    .flex-container-3 .fb10 {
      width: 50%;
    }
  }

  .flex-container-3 .fb11 {
    height: 195px;
    width: 16.66666666666667%;
    position: relative;
  }

  @media only screen and (max-width: 767px) {
    .flex-container-3 .fb11 {
      display: none;
    }
  }

  .flex-container-3 .fb12 {
    position: relative;
    height: 195px;
    width: 33.33333333333333%;
    background: url(./images/home-modernizing.jpg) no-repeat center top; 
  }

  .flex-container-3 .fb12:hover .content-text {
    opacity: 1; 
  }

  @media only screen and (max-width: 767px) {
    .flex-container-3 .fb12 {
      width: 50%;
    }
  }

  @media only screen and (max-width: 400px) {
    .flex-container-3 .fb12 {
      width: 100%;
    }
  }

  .flex-container-3 .fb13 {
    height: 195px;
    width: 16.66666666666667%;
    position: relative;
    background: url(./images/home-rebuilding.jpg) no-repeat center top; 
  }

  .flex-container-3 .fb13 .content-text h6 {
    color: #ffffff;
  }

  .flex-container-3 .fb13:hover .content-text {
    background-color: rgba($color: #e9532b, $alpha: 0.8);
    opacity: 1; 
  }

  @media only screen and (max-width: 767px) {
    .flex-container-3 .fb13 {
      width: 25%;
    }
  }

  @media only screen and (max-width: 400px) {
    .flex-container-3 .fb13 {
      width: 50%;
    }
  }



  .flex-container-3 .fb14 {
    height: 195px;
    width: 16.66666666666667%;
    position: relative;
    background-color: #d0d0d0;
  }


  .flex-container-3 .fb14 .content-text {
    background-color: transparent;
    opacity: 1; 
    img {
      display: block;
      margin: 60px auto 30px auto;
    }
    p {
      font-size: 13px;
      text-align: center;
      width: 100%;
      font-style: italic;
    }
   
  }
  .flex-container-3 .fb14 a {
      color: $body-color;
    }

  @media only screen and (max-width: 767px) {
    .flex-container-3 .fb14 {
      display: none;
    }
  }


  .flex-container-3a div:first-child {
    width: 100%; 
  }

  .flex-container-3a div:nth-child(2) {
    width: 30%; 
    background: url(./images/img-3a-1.jpg); 
  }

  .flex-container-3a div:nth-child(3) {
    width: 70%; 
    background: url(./images/img-3a-2.jpg); 
  }

  .flex-container-3a div:nth-child(4) {
    width: 33.333333333333333333333333%; 
    background: url(./images/img-3a-3.jpg); 
  }

  .flex-container-3a div:nth-child(5) {
    width: 33.333333333333333333333333%; 
  }

  .flex-container-3a div:nth-child(6) {
    width: 33.333333333333333333333333%; 
    background: url(./images/img-3a-4.jpg); 
  }

  @media only screen and (max-width: 400px) {
    .flex-container-3a div:nth-child(4),
    .flex-container-3a div:nth-child(6)  {
      width: 50%;
    }
    .flex-container-3a div:nth-child(5) {
      display: none;
    }

  }

  .flex-container-3b div {
    width: 33.333333333333333333333333333333333%;
    height: 190px;
    background: #ffffff;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .flex-container-3b div:nth-child(2) {
    background: url(./images/img-3b-1.jpg);
  }

  .flex-container-3b div:nth-child(3) {
    background: url(./images/img-3b-2.jpg);
  }

  .flex-container-3b div:nth-child(6) {
    background: url(./images/img-3b-3.jpg);
  }

  .flex-container-3b div:nth-child(7) {
    background: url(./images/img-3b-4.jpg);
  }

  .flex-container-3b div:nth-child(8) {
    background: url(./images/img-3b-5.jpg);
  }

  @media only screen and (max-width: 400px) {
    .flex-container-3b div {
      width: 50%;
      height: 190px;
    }

    .flex-container-3b div:first-child,
    .flex-container-3b div:nth-child(4),
    .flex-container-3b div:nth-child(5),
    .flex-container-3b div:nth-child(7),
    .flex-container-3b div:nth-child(9) {
      display: none; 
    }  

  }
}