.dr-lists  {
  h2 {
    font-size: 72px;
    line-height: 1;
    margin: 0;
    em {
      color: $adb-accent-orange;
      display: block;
      font-size: 42px;
      font-style: normal;
      font-weight: 300;
      line-height: 1;
    }
  }
  
  p.dr-units {
    font-size: 42px;
    font-style: normal;
    font-weight: 300;
    margin: 0;
    padding: 0;
    line-height: 1 !important;
  }

  .dr-download {
    text-align: right;
    btn {
      margin: auto 0 0 0;
    }
  }
}

.dr-data-nav {
 
  li {
      color: $adb-dr-gray;
      margin-left: 20px;
      margin-bottom: 5px;
      a {
          //background-color: lighten($adb-dr-gray, 60%);;
          //color: $body-color;
          font-weight: 700;
      }
  }     
}