#dr-modalities {
  .dr-modalities {
    h4 {
      border-bottom: 1px solid lighten($adb-dr-gray, 40%);
      font-size: 1.8rem;
      a {
        color: $body-color;
      }
    }
  }
  .dr-intro {
    p {
      font-size: 1.2rem;
      line-height: 1.8;
    }
  }
  .dr-mod-proj {
    background-color: $adb-gray-four;
    padding: 40px;
    
    h5, h6, p {
      margin: 0;
      padding: 0;
    }
    h5 {
      font-size: 2rem;
      font-weight: 200;
      margin-bottom: 20px;
      a {
        color: $body-color;
      }
    }
    h6 {
      text-transform: uppercase;
      color: $adb-accent-orange;
      font-size: .8rem;
      font-weight: 300;
      letter-spacing: 1px;
    }
    p {
      margin-bottom: 10px;
    }
  }

  .dr-mod-partner {
    h5 {
      color: $adb-accent-orange;
      margin: 0;
      margin-bottom: 10px;
    }
    h6 {
      font-size: .8rem;
      font-weight: 300;
      text-transform: uppercase;
      margin: 0;
    }
    .dr-stat {
      width: 45%;
      display: inline-block;
      vertical-align: top;
      p {
        font-size: 1.6rem;
        font-weight: 200;
        line-height: 1;
      }
    }
    &.dr-tf {
      .dr-stat {
        width: 30%;
        p {
          font-size: 1.6rem;
          font-weight: 200;
          line-height: 1;
        }
      } 
    }
  }
  .dr-side-nav {
    .nav-link {
      border-radius: 0;
      font-weight: 200;
      font-size: 1rem;
    }
    
  }
}