#dr-modalities {
  
  .dr-section-title {
    p {
      padding: 0;
      margin: 0 0 40px 0;
      line-height: 1.5;
      letter-spacing: 1px;
      font-size: 16px;
      font-weight: 300;
    }
    div > p:nth-child(1) {
      padding: 0;
      margin: 0 0 40px 0;
      line-height: 1.5;
      letter-spacing: 1px;
      font-size: 18px !important;
      font-weight: 300;
    }
  }

  .dr-modalities {
    h3 a {
      color: $body-color;
      //padding: 80px 20px;
      //display: block;
    }
    h3 {
      clear: both;
      font-size: 1.8rem;
      text-align: left;
      text-transform: none;
      font-weight: 700;
      letter-spacing: normal;
      color: $body-color;
      margin-top: 0;
      margin-bottom: 0;
      em {
        display: block;
        font-size: 1rem;
        font-style: normal;
        text-transform: lowercase;
        letter-spacing: 1px;
      }
    }
    h3:after {
      display: none;
    }
    img {
      margin-bottom: 10px;
    }
  }
  .dr-intro {
    p {
      font-size: 1.2rem;
      line-height: 1.8;
    }
  }
  .dr-mod-proj {
    background-color: $adb-gray-four;
    padding: 40px;
    
    h5, h6, p {
      margin: 0;
      padding: 0;
    }
    h5 {
      font-size: 2rem;
      font-weight: 200;
      margin-bottom: 20px;
      a {
        color: $body-color;
      }
    }
    h6 {
      text-transform: uppercase;
      color: $adb-accent-orange;
      font-size: .8rem;
      font-weight: 300;
      letter-spacing: 1px;
    }
    p {
      margin-bottom: 10px;
    }
  }

  #dr-psc {
    padding: 80px 20px;
    h3 a {
      color: $adb-accent-orange;
    }
  }
  #dr-tf {
    padding: 80px 20px;
    h3 a {
      color: $adb-accent-green;
    }
  }
  #dr-pfa {
    background-color: $adb-gray-four;
    padding: 80px 20px;
    h3 a {
      color: $body-color;
    }
  }
  #dr-sptf {
    h3:first-child {
      margin-top: 0;
    }
    h5 {
      color: $adb-accent-green;
    }
    li {
      font-size: .8rem;
    }
  }
  #dr-fca {
    h3:first-child {
      margin-top: 0;
    }
    h5 {
      color: $adb-accent-orange;
    }
    li {
      font-size: .8rem;
    }
  }
  .dr-gf {
    h3:first-child {
      margin-top: 0;
    }
    h5,
    h5 a {
      color: $adb-accent-orange;
    }
    li {
      font-size: .8rem;
    }
  }
  .dr-mod-partner {
    h5 {
      color: $adb-accent-orange;
      margin: 0;
      margin-bottom: 10px;
    }
    h6 {
      font-size: .7rem;
      font-weight: 300;
      text-transform: uppercase;
      margin: 0;
    }
    p {
      font-size: .9rem;
    }
    p.dr-type {
      margin-top: -15px;
      font-size: 1rem;
    }
    .dr-funding li {
      font-size: .9rem;
    }
    .dr-stat {
      width: 45%;
      display: inline-block;
      vertical-align: top;
      p {
        font-size: 1.4rem;
        font-weight: 200;
        line-height: 1;
        margin-bottom: 10px;
      }
      p.dr-fn {
        font-size: .7rem !important;
        font-weight: 200;
        line-height: 1;
      }
    }
    &.dr-sptf {
      .dr-stat {
        width: 30%;
        padding: 0 5px 0 0;
        p {
          font-size: 1.4rem;
        }
      } 
      h5 {
        color: $adb-accent-green;
      }
    }
    &.dr-gf {
      .dr-stat {
        width: 100%;
        padding: 0 5px 0 0;
        p {
          font-size: 1.4rem;
        }
      } 
      h5 {
        color: $adb-accent-green;
      }
    }
    &.dr-fca {
      .dr-stat {
        width: 45%;
        padding: 0 5px 0 0;
        p {
          font-size: 1.4rem;
        }
      } 
      h5 {
        color: $adb-accent-orange;
      }
    }
  }
  .dr-contributions {
    h6 {
      color: $adb-gray-one;
      font-size: 2rem;
      font-weight: 200;
      margin: 0;
    }
    strong {
      font-size: 3rem;
      font-weight: 400;
      margin: 0;
    }
    p {
      font-size: 1rem;
      margin-right: 60px;
      line-height: 1.2;
      em {
        display: block;
        font-size: 0.8rem;
        padding: 5px 0;
      }
    }
  }
  .dr-mod-chart {
    margin-bottom: 40px;
    
  }
  .dr-side-nav {
    .nav-link {
      border-radius: 0;
      font-weight: 200;
      font-size: 1rem;
    }
    
  }
  .dr-mod-nav {
    position: sticky;
  }
  .dr-gf-nav {
    background-color: $adb-gray-four;
    width: 30%;
    float: right;
    padding: 20px;
    margin: 0 0 20px 20px;
  }
  .dr-mod-main-image {
    float: left;
    width: 50%;
    height: auto;
    margin: 0 40px 40px 0;
  }
}

.dr-fn {
  font-size: .8rem !important;
  font-style: italic;
}