#dr-partners #content {

.dr-why-partner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3em;
    li {
        font-size: 1.2rem;
        list-style: none;
        margin-right: 10px;
        margin-left: 25px;
    }
    i {
        color: $adb-accent-orange;
        margin-left: -25px;
    }
}
.dr-partner-list {
  column-count:2;
  -moz-column-count:2;
  -webkit-column-count:2;
  column-gap: 1rem;
    li {
        font-size: 1rem;
        margin: 0 0 10px 20px;
      
        
    } 
}
.dr-partner-nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2em;
  li {
    border: 1px solid lighten($adb-dr-gray, 40%);
    color: $adb-dr-gray;
    list-style: none;

    a {
      background-color: lighten($adb-dr-gray, 60%);
      display: block;
      padding: 20px;
      color: $body-color;
      &:hover {
        background-color: $adb-accent-green;
        color: #fff;
        transition: all 0.5s ease-in-out;
      }
      &:hover h3 {
        color: #fff;
        transition: all 0.5s ease-in-out;
      }
      h3 {
        margin: 0;
        display: block;
        &:hover {
          color: #fff;
          transition: all 0.3s ease;
        }
      }
    }
  }
}
.dr-partner-group {
  h4 {
      color: $adb-accent-orange;
      font-size: 1.4rem !important;
      margin: 0;
  }
}
.dr-funds {
  border-left: 1px solid lighten($adb-dr-gray, 40%);
  //float: right;
  //margin-left: 40px;
  padding: 0 0 0 40px;
  //width: 40%;
}
.dr-type {
  display: block;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.dr-amount {
  font-weight: 200;
  color: $adb-accent-orange;
  display: block;
  line-height: 1.2;
  font-size: 2.8rem;
}
.dr-sidebar {
  li {
    list-style-type: none;
    margin-bottom: 20px;
    strong {
      display: block;
      font-weight: 200;
      color: $adb-accent-orange;
      display: block;
      line-height: 1.2;
      font-size: 2.8rem;
    }
  }
  
}
.dr-p-logo {
  img {
    max-width: 300px;
    height: auto;
  }
}
h5 {
  em {
    display: block;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
  }
}
}


.dr-pager {
  text-align: right;
  @include media-breakpoint-down(sm) {
    .btn {
      display: block;
    }
  }
}