
#content  {
    .dr-funds {
        border-left: 1px solid lighten($adb-dr-gray, 40%);
        float: right;
        margin-left: 40px;
        padding: 0 40px;
        width: 30%;
    }
    .dr-type {
        display: block;
        text-transform: uppercase;
    }
    .dr-amount {
        display: block;
        font-size: 3rem;
    }
    .dr-pager {
        text-align: right;
    }
}