
#content  {
    .dr-s2030-sectors {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5em;
        padding: 0;
        color: $adb-dr-gray;
        list-style: none;
        a {
            display: block;
            color: $body-color;
            &:hover {
                //background-color: $adb-accent-green;
                //color: #fff;
                opacity: 50%;
                transition: all 0.5s ease-in-out;
            }
            &:hover h3 {
                //color: #fff;
                transition: all 0.5s ease-in-out;
            }
            h3 {
                margin: 0 140px 0 0;
                display: block;
            }
            p {
                margin: 0 140px 0 0;
            }
            .dr-icon {
                display: block;
                width: 96px;
                height: auto;
                position: absolute;
                top: 10px;
                right: 0;
            }
        }
        
        .dr-sector-img {
            margin-bottom: 20px;
        }
        .dr-sector-text {
            border-left: 6px solid lighten($adb-dr-gray, 40%);
            margin-bottom: 10px;
            padding: 10px;
            padding-left: 20px;
            position: relative;
        }
    }
    .dr-s2030-page-sector {
        .dr-sector-img {
            float: left;
            display: block;
            width: 50%;
            margin: 0 80px 80px 0;
        }
        .lead {
            font-size: 2rem;
            padding: 20px;
        }
    } 
}