
.dr-slide-1 {
    background: url(./images/two-girls.png) no-repeat bottom right, linear-gradient(120deg, $adb-main-blue-one 30%, $adb-accent-green 60%, $adb-accent-green-two) !important;
}

.dr-slide-2 {
    background: url(./images/two-boys.png) no-repeat bottom right, linear-gradient(120deg, $adb-accent-orange 30%, $adb-accent-orange-two 60%, $adb-accent-orange-three) !important;
}

.dr-slide-3 {
    background: url(./images/two-girls.png) no-repeat bottom right, linear-gradient(120deg, $adb-main-blue-one 30%, $adb-accent-green 60%, $adb-accent-green-two) !important;
}