
#content .dr-stories-single {
    .dr-story-title {
        
        h2 {
            color: darken($adb-dr-gray, 10%);
            font-size: 78px;
            font-weight: 400;
            line-height: 1;
            margin: 0;
            margin-bottom: 10px;
        }
        h3 {
            border-bottom: 1px solid lighten($adb-dr-gray, 40%);
            color: $adb-dr-gray;
            font-size: 18px;
            font-weight: 300;
            margin: 0;
            margin-bottom: 20px;
            padding: 20px 0;
            //text-transform: capitalize;
        }
        
        
    }
    .dr-story-head {
        position: relative;
        border-bottom: 1px solid lighten($adb-dr-gray, 40%);
       /* .dr-story-head-text {
            position: absolute;
            padding: 20px;
            bottom: 0;
            width: 60%;
            h2, h3, p {
                color: #ffffff;
                line-height: 1;
                margin: 0;
            }
            h2 {
                font-size: 64px;
                font-weight: 700;
            }
            h3 {
                font-size: 24px;
                font-weight: 300;
            }
        }*/
        
    }
    .dr-story-summary {
        .lead {
            font-size: 1.1rem;
            font-weight: 300;
        }
    }
    .dr-story-details {
        padding: 0;
        h4 {   
            color: $adb-accent-orange;
            font-weight: 400;
            font-size: .8rem;
            line-height: 1rem;
            letter-spacing: 1px;
            margin: 0;
            text-transform: uppercase;
        }
        p {  
            font-size: 1rem;
            //font-weight: 100;
            //font-family: $heading-font;
            line-height: 1.8rem;
            margin: 0 0 20px 0;
        }
        .dr-project_title {
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.8rem;
        }
        .dr-funding {
            margin-bottom: 20px;
            li {
                margin-left: 20px;
            }
        }
    }
    .dr-story-content {
        padding: 40px 0;
        h3 {
            font-size: 1.8rem;
            text-align: center;
            text-transform: uppercase;
            font-weight: 300;
            letter-spacing: .8rem;
            color: $adb-dr-gray;
            margin-top: $margin-big;
        }
        h3:after {
            content: '';
            display: block;
            width: 100px;
            border-top: 1px solid lighten($adb-dr-gray, 40%);
            margin: $margin-big/4 auto $margin-big auto;
        }
        p {  
            font-size: 1rem;
            line-height: 1.8;
            margin: 0 0 $margin-big/2 0;
        }
        ul {
            margin-left: 20px;
        }
        .dr-results {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 3em;
            li {
                font-size: 1.2rem;
                list-style: none;
                margin-right: 10px;
            }
            i {
                color: $adb-accent-orange;
                margin-left: -25px;
            }
        }
    }
    .dr-yt {
        .before-heading {
            display: block;
            margin: 0 0 5px;
            color: darken($adb-dr-gray, 10%);
            font-size: 18px;
            font-weight: 400;
            font-family: $heading-font;
        }
    }
}

.dr-story-image {
    margin: 40px;
    width: 80%;
    &.float-left {
        width: 50%;
        margin-left: 0;
        @include media-breakpoint-up(lg) {
            margin-left: -10% !important;
        }
    }
    &.float-right {
        width: 50%;
        margin-right: 0;
        @include media-breakpoint-up(lg) {
            margin-right: -10% !important;
        }
    }
    .dr-caption {
        font-style: italic;
        padding: 10px;
    }
}

.dr-art-image {
    margin: 80px auto;
    width: 80%;
    .dr-caption {
        font-size: .8rem;
    }
    &.float-left {
        width: 50%;
        margin: 10px 40px 40px 0;
        @include media-breakpoint-up(lg) {
            margin-left: -10% !important;
        }
    }
    &.float-left-ni {
        float: left;
        width: 50%;
        margin: 10px 40px 40px 0;
    }
    &.float-right {
        width: 50%;
        margin: 10px 0 40px 40px;
        @include media-breakpoint-up(lg) {
            margin-right: -10% !important;
        }
    }
    .dr-caption {
        font-style: italic;
        padding: 10px;
    }
}