/*-----------------------------------------------------------------------------------
	typography.scss
-----------------------------------------------------------------------------------*/

dl,
dt,
dd,
ol,
ul,
li {
  margin: 0;
  padding: 0;
}
.dr-article-body {
  li {
    //list-style-position: inside;
    margin-left: 20px;
    margin-bottom: 5px;
  }
  h2 {
    color: darken($adb-dr-gray, 10%);
    font-size: 72px;
    font-weight: 400;
    line-height: 1;
    margin: 0;
    margin-bottom: 80px;
  }
  .dr-page-title {
    border-bottom: 1px solid lighten($adb-dr-gray, 40%);
    padding-bottom: 40px;
    margin-bottom: 80px;
    h2 {
      color: darken($adb-dr-gray, 10%);
      font-size: 72px;
      font-weight: 400;
      line-height: 1;
      margin: 0;
      margin-bottom: 20px;
    }
    p {
      font-size: 1.2rem;
    }
  }
  h3 {
    clear: both;
    font-size: 1.8rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: .4rem;
    color: $adb-dr-gray;
    margin-top: $margin-big;
    em {
      display: block;
      font-size: 1rem;
      font-style: normal;
      text-transform: lowercase;
      letter-spacing: 1px;
    }
  }
  h3:after {
    content: '';
    display: block;
    width: 100px;
    border-top: 1px solid lighten($adb-dr-gray, 40%);
    margin: $margin-big/4 auto $margin-big auto;
  }
  
  @include media-breakpoint-down(sm) {
    h3 {
      line-height: 1.5;
      font-size: round($page-title-size / 1.17);
      margin-top: $margin-big/4;
    }
    h3:after {
      margin: $margin-big/4 auto $margin-big/4 auto;
    }
  }
}

#dr-modalities .dr-article-body {
  h4 {
    clear: both;
    font-size: 1.2rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .2rem;
    color: $adb-dr-gray;
    margin-top: $margin-big;
    em {
      display: block;
      font-size: 1rem;
      font-style: normal;
      text-transform: lowercase;
      letter-spacing: 1px;
    }
  }
  h4:after {
    content: '';
    display: block;
    width: 100px;
    border-top: 1px solid lighten($adb-dr-gray, 40%);
    margin: $margin-big/4 auto $margin-big auto;
  }
}

.clear {
  clear: both;
  display: block;
  font-size: 0px;
  height: 0px;
  line-height: 0;
  width: 100%;
  overflow: hidden;
}

::selection {
  background: $theme-color;
  color: #fff;
  text-shadow: none;
}

::-moz-selection {
  background: $theme-color; /* Firefox */
  color: #fff;
  text-shadow: none;
}

::-webkit-selection {
  background: $theme-color; /* Safari */
  color: #fff;
  text-shadow: none;
}

:active,
:focus {
  outline: none !important;
}

/* ----------------------------------------------------------------
	Typography
-----------------------------------------------------------------*/

body {
  line-height: $line-height-base;
  color: $body-color;
  font-size: $font-size-base;
  font-family: $body-font;
  @include media-breakpoint-down(sm) {
    padding: 0 !important;
  }
}

a {
  text-decoration: none !important;
  color: $adb-main-blue-one;
  &:hover {
    color: #222;
    .dark & {
      color: $text-color-dark;
    }
  }
  img {
    border: none;
  }
}

img {
  max-width: 100%;
}
iframe {
  border: none !important;
}

/* ----------------------------------------------------------------
	Basic Layout Styles
-----------------------------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $heading-color;
  font-weight: 600;
  line-height: $line-height-base;
  margin: 0 0 30px 0;
  font-family: $heading-font;
  .dark & {
    color: $text-color-dark;
  }
}

.dark {
  color: $text-color-dark;
}

h5,
h6 {
  margin-bottom: 20px;
}

h1 {
  font-size: $font-size-h1;
  @include media-breakpoint-down(sm) {
    font-size: round($font-size-h1 / 1.3);
  }
}
h2 {
  font-size: $font-size-h2;
  @include media-breakpoint-down(sm) {
    font-size: round($font-size-h2 / 1.25);
  }
}

h3 {
  font-size: $font-size-h3;
  @include media-breakpoint-down(sm) {
    font-size: round($font-size-h3 / 1.2);
  }
}
h4 {
  font-size: $font-size-h4;
  @include media-breakpoint-down(sm) {
    font-size: round($font-size-h4 / 1.13);
  }
}

h4 {
  font-weight: 600;
}

h5,
h6 {
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  > span:not(.nocolor) {
    color: $theme-color;
  }
}

p,
pre,
ul,
ol,
dl,
dd,
blockquote,
address,
table,
fieldset,
form {
  margin-bottom: 30px;
}

small {
  font-family: $body-font;
}

.dark fieldset {
  border-color: rgba($white, 0.1);
}
#wrapper {
  position: relative;
  float: none;
  margin: 0 auto;
  width: map-get($grid-breakpoints, "xl") + 20; //1220px
  background-color: $body-bg;

  @include media-breakpoint-only(lg) {
    width: map-get($grid-breakpoints, "lg") + 8; //1000px
  }
  @include box-shadow(0 0 10px rgba(0, 0, 0, 0.1));

  @include media-breakpoint-down(md) {
    width: 100%;
    margin: 0;
    box-shadow: none;
  }
  @include media-breakpoint-down(sm) {
    width: 100% !important;
  }
  .dark & {
    background-color: $body-bg-dark;
  }
}

.dr-note {
  background-color: $adb-gray-four;
  font-size: .8rem;
  font-style: italic;
  padding: 5px 10px;
}
